{% extends 'eldis/base.html' %}
{% load static %}

{% block title %}Отображаемые поля{% endblock %}
{% block content %}
    {#  Шапка сайта  #}
    <nav class="navbar fixed-top second-header"></nav>
    <div class="row">
        <form method="post" style="width: 100%">
            {% csrf_token %}
            <div class="row" style="margin-left: auto; margin-top: 20px; text-align: center">
                <div class="col" style="overflow: auto; height: calc(100vh - 270px)">
                    {#  Таблица параметров ГВС  #}
                    <table width="100%" frame="void" rules="rows" bordercolor="#888888">
                        <caption style="text-align: center; caption-side: top; font-weight: bold">Параметры ГВС</caption>
                        <tbody>
                            {% for field in form %}
                                {% if 'gvs_' in field.html_name %}
                                    <tr>
                                        <td><label for="{{ field.html_name }}">{{ field.label_tag }}</label></td>
                                        <td>
                                            <label class="checkbox" style="color: #000000; font-size: 14px; margin-right: 25px; margin-top: 5px; margin-bottom: -15px">
                                                <input type="radio" name="{{ field.html_name  }}" {% if field.value == True %} checked {% endif %} value="true"><p style="margin-top: 20px">Да</p>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="checkbox" style="color: #000000; font-size: 14px; margin-top: 5px; margin-bottom: -15px">
                                                <input type="radio" name="{{ field.html_name  }}" value="false" {% if field.value == False %} checked {% endif %}><p style="margin-top: 20px">Нет</p>
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col" style="overflow: auto; height: calc(100vh - 300px)">
                    {#  Таблица параметров ТС  #}
                    <table width="100%" frame="void" rules="rows" bordercolor="#888888">
                        <caption style="text-align: center; caption-side: top; font-weight: bold">Параметры ТС</caption>
                        <tbody>
                            {% for field in form %}
                                {% if 'ts_' in field.html_name %}
                                    <tr>
                                        <td><label for="{{ field.html_name }}">{{ field.label_tag }}</label></td>
                                        <td>
                                            <label class="checkbox" style="color: #000000; font-size: 14px; margin-right: 25px; margin-top: 5px; margin-bottom: -15px">
                                                <input type="radio" name="{{ field.html_name  }}" {% if field.value == True %} checked {% endif %} value="true"><p style="margin-top: 20px">Да</p>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="checkbox" style="color: #000000; font-size: 14px; margin-top: 5px; margin-bottom: -15px">
                                                <input type="radio" name="{{ field.html_name  }}" value="false" {% if field.value == False %} checked {% endif %}><p style="margin-top: 20px">Нет</p>
                                                <span class="checkmark"></span>
                                            </label>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none">{{ form.username }}</div>
            <div class="row" style="margin-left: calc(50% - 53px); margin-top: 30px">
                <button style="height: 50px; background: #FF6408; border-radius: 10px; border: none; color: #FFFFFF; font-size: large" name="submit" type="submit">Применить</button>
            </div>
        </form>
    </div>

{% endblock %}