{% extends 'eldis/base.html' %}
{% load static %}

{% block title %}Показания{% endblock %}
{% block content %}
    {#  Шапка с формой поиска и кнопкой экспорта списка точек учета  #}
    <nav class="navbar fixed-top second-header">
        <form action="">
            <input class="search" name="q" type="text">
            <input name="list_sort" type="hidden" value="{{ order_list }}">
            <img style="position: absolute; left: 180px; top: 20px;" src="{% static 'images/search.png' %}" alt="">
            <button class="standart" type="button" onclick="window.location.href='{% url 'export_list'%}?q={{ q }}'"><img style="height: 25px" src="{% static 'images/excel.png' %}" alt=""> Список ПУ</button>
        </form>
    </nav>
    <div class="row">
        <div style="width: 1021px; height: calc(100vh - 160px); overflow: auto; resize: horizontal;">
            {#  Список точек учета  #}
            <table class="table-scroll" frame="void" rules="rows" bordercolor="#888888">
                <thead>
                    <tr class="headlist">
                        <th class="headlist">
                            <a style="color: #ff6408;" href="?page={{ page_obj.number }}&q={{ q }}&list_sort={% if order_list == 'numberPU' %}-numberPU{% else %}numberPU{% endif %}">Номер ПУ{% if order_list == 'numberPU' %} &#9660;{% elif order_list == '-numberPU' %} &#9650;{% endif %}</a>
                        </th>
                        <th class="headlist" style="text-align: left;">
                            <a style="color: #ff6408;" href="?page={{ page_obj.number }}&q={{ q }}&list_sort={% if order_list == 'nameObject' %}-nameObject{% else %}nameObject{% endif %}">Объект{% if order_list == 'nameObject' %} &#9660;{% elif order_list == '-nameObject' %} &#9650;{% endif %}</a>
                        </th>
                        <th class="headlist">
                            Тэги
                        </th>
                        <th class="headlist">
                            <a style="color: #ff6408;" href="?page={{ page_obj.number }}&q={{ q }}&list_sort={% if order_list == 'modelPU' %}-modelPU{% else %}modelPU{% endif %}">Модель ПУ{% if order_list == 'modelPU' %} &#9660;{% elif order_list == '-modelPU' %} &#9650;{% endif %}</a>
                        </th>
                        <th class="headlist">
                            <a style="color: #ff6408;" href="?page={{ page_obj.number }}&q={{ q }}&list_sort={% if order_list == 'point' %}-point{% else %}point{% endif %}">Точка учета{% if order_list == 'point' %} &#9660;{% elif order_list == '-point' %} &#9650;{% endif %}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for elem in listPU %}
                    <tr onclick="window.location.href='/detail/{{ elem.idPoint }}'; return false" style="height: 60px">
                        <td nowrap class="headlist">{% if elem.resource == 'Тепло' or elem.resource == 'ТС' %} <p style="color: #FFFFFF; background: #ff6408; text-align: center">Тепло</p> {% elif elem.resource == 'ГВС' %} <p style="color: #FFFFFF; background: #0235ec; text-align: center">ГВС</p> {% elif elem.resource == None %} <p style="color: #000000; background: #FFFFFF; text-align: center">Отсутствует</p> {% else %} <p style="color: #FFFFFF; background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,162,0,1) 0%, rgba(2,31,176,1) 100%); text-align: center">Тепло+ГВС</p> {% endif %} {{ elem.numberPU }}</td>
                        <td nowrap class="headlist" style="text-align: left; font-weight: bold">Потребитель: {% if elem.idObject.consumer != null %}{{ elem.idObject.consumer }}{% endif %}<br>Наименование: {{ elem.nameObject }}<br>Адрес: {{ elem.addressObject }}</td>
                        <td nowrap class="headlist">{% for item in elem.idObject.tags.all %}<span style="background: rgb(224 224 224); border-radius: 15px; padding: 7px; margin: 5px">{{ item }}</span>{% endfor %}</td>
                        <td nowrap class="headlist">{{ elem.modelPU }}</td>
                        <td nowrap class="headlist">{{ elem.point }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}