<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Показания</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        <script src="{% static 'js/css-element-queries/src/ResizeSensor.js'%}"></script>
        <script src="{% static 'js/css-element-queries/src/ElementQueries.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js" integrity="sha512-tPXUMumrKam4J6sFLWF/06wvl+Qyn27gMfmynldU730ZwqYkhT2dFUmttn2PuVoVRgzvzDicZ/KgOhWD+KAYQQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        {#  Шапка с логотипами  #}
        <nav id="header" class="navbar fixed-top top-header">
            {% include "eldis/logorts.html" %}
            <div style="position: absolute; right: 150px; font-family: Roboto; font-style: normal; font-weight: bold; font-size: 14px; line-height: 14px; color: #FFFFFF">
                <p style="margin-bottom: 0; white-space: nowrap">Потребитель: {{ getPU.consumer }}</p>
                <p style="margin-bottom: 0; white-space: nowrap">Объект: {{ getPU.nameObject }}({{ getPU.addressObject }})</p>
                <p style="margin-bottom: 0; white-space: nowrap">Прибор учета: {{ getPU.modelPU }}({{ getPU.numberPU }})</p>
                <p style="margin-bottom: 0; white-space: nowrap">Точка учета: {{ getPU.point }}({{ getPU.resource }})</p>
            </div>
            <a class="logoconnect" href="/">
                <img src="{% static 'images/logo1.png' %}" height="40" alt="">
            </a>
        </nav>
        <nav id="postheader" class="navbar fixed-top second-header" style="height: auto;">
            <div class="row" style="margin-left: 0" id="nav-form">
                <div class="row" style="width: 420px; margin-left: 0" id="leftpost">
                    <div style="width: 190px">
                        <form action="">
                            <div style="width: 187px; background: #FFFFFF; border-radius: 10px; margin-bottom: 10px;">
                                <input class="search" name="q" style="width: 160px;" type="text">
                                <input name="list_sort" type="hidden" value="{{ order_list }}">
                                <img style="padding-bottom: 5px" src="{% static 'images/search.png' %}" alt="">
                            </div>
                            <button class="standart" type="button" onclick="window.location.href='{% url 'export_list'%}?q={{ q }}'"><img style="height: 25px" src="{% static 'images/excel.png' %}" alt=""> Список ПУ</button>
                        </form>
                    </div>
                    <div style="width: 190px; margin-left: 10px">
                        <button class="standart" style="margin-bottom: 10px;font-size: large;" name="submit" type="submit" form="readings-form">Получить показания</button>
                        <button class="standart" type="button" onclick="window.location.href='{% if getPU.resource == 'ТС+ГВС (Общий учёт с контролем ГВС)' and options == 'gvs' %}{% url 'export_gvs'%}{% elif getPU.resource == 'ТС+ГВС (Общий учёт с контролем ГВС)' and options == 'ts' %}{% url 'export_ts'%}{% elif getPU.resource == 'Тепло+ГВС' and options == 'gvs' %}{% url 'export_gvs'%}{% elif getPU.resource == 'Тепло+ГВС' and options == 'ts' %}{% url 'export_ts'%}{% elif getPU.resource == 'ГВС' %}{% url 'export_gvs'%}{% else %}{% url 'export_ts'%}{% endif %}?id={{ getPU.idPoint }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}'">
                            <img style="height: 25px" src="{% static 'images/excel.png' %}" alt=""> Показания
                        </button>
                    </div>
                </div>
                <div id="rightpost" style="margin-top: 10px">
                    <form action="" style="font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px; line-height: 10px; color: #FFFFFF;" id="readings-form">
                        {% csrf_token %}
                        <div class="row">
                            <div style="width: 195px; text-align: center; margin-left: 5px; margin-bottom: 10px;">
                                <label for="check">Выбрать месяц</label><br>
                                <input type="checkbox" id="check" name="check" {% if check == 'on' %} checked {% endif %}>
                                <input style="width: 175px; height: 30px; border-radius: 10px; outline: none; border: none; text-align: center" type="month"  id="month" name="month" value="{{ month }}">
                            </div>
                            <div class="col" style="padding-left: 0">
                                <div class="row" style="margin-left: auto">
                                    <div style="width: 175px; text-align: center; margin-bottom: 10px; margin-left: 5px; {% if check == 'on' %} display: none {% endif %}" id="blockStart">
                                        <label  for="startDate">Начальная дата</label><br>
                                        <input style="width: 175px; height: 30px; border-radius: 10px; outline: none; border: none; text-align: center" type="datetime-local"  id="startDate" name="startDate" value="{{ startDate }}">
                                    </div>
                                    <div style="width: 175px; text-align: center; margin-bottom: 10px; margin-left: 5px; {% if check == 'on' %} display: none {% endif %}" id="blockEnd">
                                        <label  for="endDate">Конечная дата</label><br>
                                        <input style="width: 175px; height: 30px; border-radius: 10px; outline: none; border: none; text-align: center" type="datetime-local" id="endDate" name="endDate" value="{{ endDate }}">
                                    </div>
                                    <div style="width: 185px; text-align: center; margin-bottom: 10px;">
                                        <label for="typeArchive">Тип архива</label><br>
                                        <select name="typeArchive" id="typeArchive" style="width: 175px; height: 30px; border-radius: 10px; outline: none; border: none; text-align-last: center;">
                                            <option {% if typeArchive == '30004' %} selected {% endif %}  value="30004" style="height: 30px">Суточный</option>
                                            <option {% if typeArchive == '30003' %} selected {% endif %}  value="30003" style="height: 30px">Часовой</option>
                                        </select>

                                    </div>
                                    {% if getPU.resource == "ТС+ГВС (Общий учёт с контролем ГВС)" or getPU.resource == "Тепло+ГВС" %}
                                        <div style="width: 130px; text-align: center; margin-bottom: 10px;">
                                            <label for="resource">Ресурс</label><br>
                                            <div class="form_radio_btn">
                                                <input type="radio" name="options" id="gvsButton" {% if options == 'gvs' %} checked {% endif %} value="gvs">
                                                <label for="gvsButton">ГВС</label>
                                            </div>
                                            <div class="form_radio_btn">
                                                <input type="radio" name="options" id="tsButton" value="ts" {% if options == 'ts' %} checked {% endif %}>
                                                <label for="tsButton">ТС</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        $(function() {
                            $( "#check" ).on( "click", function() {
                                if($(this).is(":checked")) {
                                    $("#blockStart").hide();
                                    $("#blockEnd").hide();
                                }
                                else {
                                    $("#blockStart").show();
                                    $("#blockEnd").show();
                                }
                            })
                        });
                    </script>
                </div>
            </div>
        </nav>
        <div id="content" class="container-fluid" style="position: absolute;">
            <div class="row">
                <div id="block-1" style="width: 420px; overflow: auto; resize: horizontal; padding-left: 10px">
                    <table class="table-scroll" frame="void" rules="rows" bordercolor="#888888">
                        <thead>
                            <tr class="headlist">
                                <th class="headlist">
                                    <a style="color: #ff6408;" href="?page={{ page_obj.number }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&q={{ q }}&list_sort={% if order_list == 'numberPU' %}-numberPU{% else %}numberPU{% endif %}">Номер ПУ{% if order_list == 'numberPU' %} &#9660;{% elif order_list == '-numberPU' %} &#9650;{% endif %}</a>
                                </th>
                                <th class="headlist" style="text-align: left">
                                    <a style="color: #ff6408;" href="?page={{ page_obj.number }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&q={{ q }}&list_sort={% if order_list == 'nameObject' %}-nameObject{% else %}nameObject{% endif %}">Объект{% if order_list == 'nameObject' %} &#9660;{% elif order_list == '-nameObject' %} &#9650;{% endif %}</a>
                                </th>
                                <th class="headlist">
                                    Тэги
                                </th>
                                <th class="headlist">
                                    <a style="color: #ff6408;" href="?page={{ page_obj.number }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&q={{ q }}&list_sort={% if order_list == 'modelPU' %}-modelPU{% else %}modelPU{% endif %}">Модель ПУ{% if order_list == 'modelPU' %} &#9660;{% elif order_list == '-modelPU' %} &#9650;{% endif %}</a>
                                </th>
                                <th class="headlist">
                                    <a style="color: #ff6408;" href="?page={{ page_obj.number }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&q={{ q }}&list_sort={% if order_list == 'point' %}-point{% else %}point{% endif %}">Точка учета{% if order_list == 'point' %} &#9660;{% elif order_list == '-point' %} &#9650;{% endif %}</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elem in list %}
                                <tr onclick="window.location.href='/detail/{{ elem.idPoint }}?list_sort={{ order_list }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}'; return false" style="height: 60px; {% if elem.idPoint == getPU.idPoint %} border-bottom: 2px solid #007bff; border-top: 2px solid #007bff; {% endif %}">
                                    <td nowrap class="headlist">{% if elem.resource == 'Тепло' or elem.resource == 'ТС' %} <p style="color: #FFFFFF; background: #ff6408; text-align: center">Тепло</p> {% elif elem.resource == 'ГВС' %} <p style="color: #FFFFFF; background: #0235ec; text-align: center">ГВС</p> {% elif elem.resource == None %} <p style="color: #000000; background: #FFFFFF; text-align: center">Отсутствует</p> {% else %} <p style="color: #FFFFFF; background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,162,0,1) 0%, rgba(2,31,176,1) 100%); text-align: center">Тепло+ГВС</p> {% endif %} {{ elem.numberPU }}</td>
                                    <td nowrap class="headlist" style="font-weight: bold; text-align: left">Потребитель: {% if elem.idObject.consumer != null %}{{ elem.idObject.consumer }}{% endif %}<br>Наименование: {{ elem.nameObject }}<br>Адрес: {{ elem.addressObject }}</td>
                                    <td nowrap class="headlist">{% for item in elem.idObject.tags.all %}<span style="background: rgb(224 224 224); border-radius: 15px; padding: 7px; margin: 5px">{{ item }}</span>{% endfor %}</td>
                                    <td nowrap class="headlist">{{ elem.modelPU }}</td>
                                    <td nowrap class="headlist">{{ elem.point }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="block-2" style="overflow: auto;">
                    {% if getPU.resource == "ТС+ГВС (Общий учёт с контролем ГВС)" or getPU.resource == "Тепло+ГВС" %}
                        {% include "eldis/tablegvs.html" %}
                        {% include "eldis/tablets.html" %}
                        <script type="text/javascript">
                            let gvsTable = document.getElementById("gvsTable")
                            let gvsButton = document.getElementById("gvsButton")
                            let tsTable = document.getElementById("tsTable")
                            let tsButton = document.getElementById("tsButton")
                            let gvsPaginator = document.getElementById("gvs-pagination")
                            let tsPaginator = document.getElementById("ts-pagination")
                            let gvsMargin = document.getElementById("gvsMargin")
                            let tsMargin = document.getElementById("tsMargin")
                            gvsButton.addEventListener("click", () => {
                                if (gvsTable.style.display === "none") {
                                    gvsTable.style.display = "inline-table"
                                    gvsPaginator.style.display = 'block'
                                    tsTable.style.display = "none"
                                    tsPaginator.style.display = "none"
                                    gvsMargin.style.display = 'block'
                                    tsMargin.style.display = 'none'
                                } else {
                                    gvsTable.style.display = "inline-table"
                                    gvsPaginator.style.display = 'block'
                                    gvsMargin.style.display = 'block'
                                }
                            })
                            tsButton.addEventListener("click", () => {
                                if (tsTable.style.display === "none") {
                                    gvsTable.style.display = "none"
                                    gvsPaginator.style.display = 'none'
                                    tsTable.style.display = "inline-table"
                                    tsPaginator.style.display = "block"
                                    gvsMargin.style.display = 'none'
                                    tsMargin.style.display = 'block'
                                } else {
                                    tsTable.style.display = "inline-table"
                                    tsPaginator.style.display = "block"
                                    tsMargin.style.display = 'block'
                                }
                            })
                        </script>
                    {% endif %}
                    {% if getPU.resource == "ТС" or getPU.resource == "Тепло" %}
                        {% include "eldis/tablets.html" %}
                    {% endif %}
                    {% if getPU.resource == "ГВС" %}
                        {% include "eldis/tablegvs.html" %}
                    {% endif %}
                </div>
            </div>
            <div class="row" style="height: 30px">
                <div class="col-12">
                    <hr class="podline">
                    <p class="foot">АО "Омск РТС"</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function resize (){
                let header = document.getElementById('header');
                let postheader = document.getElementById('postheader');
                let content = document.getElementById('content');
                let block1 = document.getElementById('block-1');
                let block2 = document.getElementById('block-2');
                let leftpost = document.getElementById('leftpost');
                let navform = document.getElementById('nav-form')
                let rightpost = document.getElementById('rightpost');
                let headerHeight = header.offsetHeight;
                content.style.top = headerHeight + postheader.offsetHeight+'px';
                block1.style.height = 'calc(100vh - ' + (headerHeight+postheader.offsetHeight+40) + 'px)';
                block2.style.height = block1.style.height;
                block2.style.width = 'calc(100vw - ' + (block1.offsetWidth+17) + 'px)';
                rightpost.style.width = 'calc(100vw - 438px)';
                leftpost.style.paddingTop = navform.offsetHeight/2 - 35 + 'px';
            }
            resize();
            $(window).resize(function (){
                let header = document.getElementById('header');
                let postheader = document.getElementById('postheader');
                let content = document.getElementById('content');
                let leftpost = document.getElementById('leftpost');
                let navform = document.getElementById('nav-form')
                let block1 = document.getElementById('block-1');
                let block2 = document.getElementById('block-2');
                let rightpost = document.getElementById('rightpost')
                let headerHeight = header.offsetHeight;
                content.style.top = headerHeight + postheader.offsetHeight+'px';
                block1.style.height = 'calc(100vh - ' + (headerHeight+postheader.offsetHeight+40) + 'px)';
                block2.style.height = block1.style.height;
                block2.style.width = 'calc(100vw - ' + (block1.offsetWidth+17) + 'px)';
                rightpost.style.width = 'calc(100vw - 438px)';
                leftpost.style.paddingTop = navform.offsetHeight/2 - 35 + 'px';
            });
            var block1 = document.getElementById('block-1');
            var block2 = document.getElementById('block-2');
            new ResizeSensor(block1, function () {
                var wid = 'calc(100vw - ' + (block1.clientWidth + 34) + 'px';
                $("#block-2").css("width", wid);
                console.log(block1.clientWidth);
            });
        </script>
    </body>
</html>