<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="200mm" height="64mm" version="1.1" style="height: 54px; left: -290px; position: absolute; shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 20000 6400" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
    <defs>
        <style type="text/css">
            <![CDATA[ .fil0 {fill:#F47920;fill-rule:nonzero}  .fil1 {fill:white;fill-rule:nonzero}  ]]>
        </style>
    </defs>
    <g id="Слой_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"/>
        <g id="_1517046234880">
            <polygon class="fil0" points="7257.34,3474.99 19998.23,3474.99 19998.23,3326.01 7257.34,3326.01 "/>
            <polygon class="fil1" points="7807.37,1263.54 7807.37,2087.05 7815.77,2087.05 8180.07,1263.54 8824.65,1263.54 8824.65,2704.76 8272.72,2704.76 8272.72,1897.63 8264.53,1897.63 7900.01,2704.76 7255.65,2704.76 7255.65,1263.54 "/>
            <polygon class="fil1" points="9889.12,1263.54 10440.99,1263.54 10440.99,2704.76 9889.12,2704.76 9889.12,2173.56 9520.49,2173.56 9520.49,2704.76 8968.61,2704.76 8968.61,1263.54 9520.49,1263.54 9520.49,1761.7 9889.12,1761.7 "/>
            <polygon class="fil1" points="12005.92,1263.54 12005.92,1689.56 11520.06,1689.56 11520.06,2704.76 10968.19,2704.76 10968.19,1689.56 10482.27,1689.56 10482.27,1263.54 "/>
            <polygon class="fil1" points="13305.32,1263.54 13305.32,1603.26 12599.07,1603.26 12599.07,1811.12 13274.56,1811.12 13274.56,2140.58 12599.07,2140.58 12599.07,2365.04 13319.69,2365.04 13319.69,2704.76 12047.14,2704.76 12047.14,1263.54 "/>
            <path class="fil1" d="M14280.32 1263.54c434.38,0 623.85,253.2 623.85,516.82 0,230.64 -164.63,508.63 -613.6,508.63l-302.63 0 0 415.77 -551.71 0 0 -1441.22 844.09 0zm-306.75 691.7l121.4 0c66.01,0 253.37,-4.07 253.37,-179 0,-84.46 -45.3,-179.17 -255.43,-179.17l-119.34 0 0 358.17z"/>
            <path class="fil1" d="M16309.33 1263.54c434.43,0 623.85,253.2 623.85,516.82 0,230.64 -164.63,508.63 -613.6,508.63l-302.57 0 0 415.77 -551.72 0 0 -1441.22 844.04 0zm-306.7 691.7l121.4 0c66.01,0 253.37,-4.07 253.37,-179 0,-84.46 -45.51,-179.17 -255.43,-179.17l-119.34 0 0 358.17z"/>
            <path class="fil1" d="M17969.07 1263.54l512.7 1441.22 -580.57 0 -98.83 -310.81 -432.58 0 -96.56 310.81 -551.72 0 504.15 -1441.22 743.41 0zm-387.09 341.73l-148.24 451.02 306.9 0 -150.46 -451.02 -8.2 0z"/>
            <path class="fil1" d="M19998.34 1984.15c0,459.21 -294.43,745.39 -803.07,745.39 -508.43,0 -803.02,-286.18 -803.02,-745.39 0,-459.22 294.59,-745.4 803.02,-745.4 508.64,0 803.07,286.18 803.07,745.4zm-1025.31 0c0,150.25 14.37,399.33 222.24,399.33 207.91,0 222.45,-249.08 222.45,-399.33 0,-150.31 -14.54,-399.39 -222.45,-399.39 -207.87,0 -222.24,249.08 -222.24,399.39z"/>
            <path class="fil1" d="M8087 4667.5c0,317.31 -212.35,447.27 -428.46,447.27 -216.27,0 -428.63,-129.96 -428.63,-447.27 0,-317.37 212.36,-447.27 428.63,-447.27 216.11,0 428.46,129.9 428.46,447.27zm-669.52 0c0,296.06 174.68,322.33 241.06,322.33 66.22,0 241.1,-26.27 241.1,-322.33 0,-296.07 -174.88,-322.39 -241.1,-322.39 -66.38,0 -241.06,26.32 -241.06,322.39z"/>
            <polygon class="fil1" points="8693.47,5104.83 8481.06,4480.09 8441,4355.16 8437.25,4355.16 8439.68,4490.13 8439.68,5104.83 8262.36,5104.83 8262.36,4230.43 8562.19,4230.43 8737.28,4738.85 8775.86,4893.59 8779.56,4893.59 8818.36,4738.85 8993.24,4230.43 9293.07,4230.43 9293.07,5104.83 9115.75,5104.83 9115.75,4490.13 9118.34,4355.16 9114.43,4355.16 9074.53,4480.09 8862.17,5104.83 "/>
            <path class="fil1" d="M10149.47 5077.3c-77.38,26.32 -156.07,37.47 -225.99,37.47 -217.59,0 -454.74,-123.78 -454.74,-442.41 0,-300.93 212.36,-452.13 487.19,-452.13 68.6,0 127.53,8.93 193.54,30.02l-7.45 149.88c-51.32,-19.77 -107.4,-32.45 -173.62,-32.45 -196.13,0 -312.3,123.83 -312.3,302.25 0,211.24 142.44,297.54 299.83,297.54 77.37,0 138.68,-19.02 182.33,-38.95l11.21 148.78z"/>
            <polygon class="fil1" points="10495.91,4230.32 10495.91,4603.76 10499.82,4603.76 10815.87,4230.32 11026.9,4230.32 10662.02,4626.17 11049.47,5104.73 10824.8,5104.73 10499.82,4669.98 10495.91,4669.98 10495.91,5104.73 10318.59,5104.73 10318.59,4230.32 "/>
            <path class="fil1" d="M11758.52 4230.32c317.32,0 335.98,218.54 335.98,273.5 0,115.06 -80.02,272.44 -303.74,272.44l-113.52 0 0 328.47 -177.32 0 0 -874.41 258.6 0zm0 408.32c107.4,0 148.57,-73.62 148.57,-139.84 0,-72.35 -46.25,-131.07 -148.57,-131.07l-81.28 0 0 270.91 81.28 0z"/>
            <polygon class="fil1" points="12844.61,4230.32 12844.61,4385.28 12592.14,4385.28 12592.14,5104.73 12414.67,5104.73 12414.67,4385.28 12162.41,4385.28 12162.41,4230.32 "/>
            <path class="fil1" d="M13568.25 5077.3c-77.37,26.32 -156.23,37.47 -226.15,37.47 -217.37,0 -454.73,-123.78 -454.73,-442.41 0,-300.93 212.36,-452.13 487.18,-452.13 68.81,0 127.37,8.93 193.7,30.02l-7.45 149.88c-51.27,-19.77 -107.55,-32.45 -173.77,-32.45 -196.14,0 -312.3,123.83 -312.3,302.25 0,211.24 142.27,297.54 299.82,297.54 77.59,0 138.74,-19.02 182.55,-38.95l11.15 148.78z"/>
            <path class="fil0" d="M4658.44 3810.22c0,-5.76 0,-5.76 2.43,-8.93 -11.57,-3.75 -118.39,61.51 -134.03,70.08 -17.18,23.88 -34.35,48.3 -51.85,72.93 13.96,-6.55 35.41,-22.04 51.06,-19.4 4.86,8.72 8.77,16.39 13.42,24.95 38.05,-24.95 51.32,-68.39 84.88,-95.82 26.06,-11.57 39.85,-18.65 59.46,-39.16 -9.15,0.74 -17.71,0.74 -25.37,-4.65z"/>
            <path class="fil0" d="M4454.28 3955.56c5.02,-2.59 10.41,-5.02 16.38,-8.35 -12.1,-1.17 -12.1,-1.17 -25.53,-0.8 3.91,2.06 3.91,2.06 9.15,9.15z"/>
            <path class="fil0" d="M2412.69 4177.42c-14.33,-24.79 -14.33,-24.79 -18.08,-28.86 -3.33,0 -6.5,0 -10.41,0.16 -1.69,5.24 -1.69,5.24 -4.12,8.04 -8.56,-1.32 -15.28,-4.13 -21.99,0.37 -20.5,-13.8 -20.5,-13.8 -25,-14.38 16.81,45.51 43.66,63.58 80.55,95.66 2.8,-20.14 -9.89,-42.33 -0.95,-60.99z"/>
            <path class="fil0" d="M4182.36 2433.37c0.74,-4.12 0.95,-8.4 1.11,-12.15 -7.09,-4.07 -13.43,-7.83 -19.93,-11.89 -56.5,9.88 -48.46,-65.86 -55.18,-99.2 2.81,-3.91 2.81,-3.91 17.87,-14.17 -14.91,-24.04 -53.7,-70.66 -53.7,-98.25 2.43,-2.43 3.97,-3.54 3.01,-6.92 -15.48,-1.32 -30.97,-2.06 -46.03,-2.06 -2.27,-2.43 -2.27,-2.43 -10.46,-27.01 -10.26,-6.18 -19.4,-13.26 -29.28,-19.76 -0.16,-3.02 -0.74,-6.19 -0.74,-8.41 4.86,-5.02 14,-1.11 19.76,0 5.6,-12.84 10.84,-22.56 19.93,-32.08 -7.82,-6.34 -27.22,-24.94 -37.47,-24.94 -2.59,3.54 -5.61,7.08 -8.2,12.1 2.44,3.54 8.41,3.54 12.48,5.23 2.06,3.17 2.06,8.57 -0.16,11.53 -45.51,7.29 -78.33,36.57 -91.91,80.91 9.51,5.6 18.45,11.41 27.96,17.91l0 8.2c-6.55,2.8 -6.55,2.8 -27.96,7.08 -0.74,5.44 -0.74,11.04 -1.69,16.8 -129.22,-86.14 -262.51,-147.66 -408.7,-197.44 -1.69,3.75 -2.8,7.82 -4.28,12.1 145.08,48.89 281.7,111.88 408.12,199.51 2.64,29.81 -21.99,16.8 -46.62,16.8 -7.45,12.27 -15.43,25.53 -21.98,38.96 -26.64,5.97 -26.64,5.97 -38.43,7.24 -3.7,-2.81 -7.61,-5.03 -10.25,-7.24 -9.67,5.39 -34.3,16.96 -39.16,26.1 8.77,13.06 14.74,16.76 16.06,32.24 -14,14.17 -22.56,28.7 -43.65,26.64 3.01,8.98 7.08,18.5 5.97,28.01 -26.27,13.42 -60.78,-27.8 -76.05,-41.01 -52.22,-103.69 -117.49,-203.42 -180.49,-301.14 -10.25,5.39 -10.25,5.39 -11.2,7.29 61.73,96.4 120.81,195.18 177.68,294.75 -2.43,8.03 0.95,13.05 0.95,21.08 -27.06,21.83 -50.89,-5.23 -71.4,26.64l-7.82 0c-4.12,-4.81 -7.29,-9.14 -11.2,-13.43 -3.76,28.17 -23.89,30.23 -42.34,17.55 16.6,-28.91 46.46,-55.54 10.1,-76.05 -14.01,0 -30.23,21.25 -36.74,1.27 -10.83,0 -10.83,0 -11.94,-1.64 -2.59,7.45 -6.34,13.58 -12.68,16.96 0,18.45 -17.71,12.48 -33.56,13.59 -1.33,-98.25 -1.85,-195.6 -2.44,-293.27l-12.1 0c-0.58,98.99 -1.11,197.82 -1.48,296.07 -10.99,6.71 -21.3,13.21 -31.71,19.02 -5.02,39.17 -6.55,30.92 -46.83,41.97 -1.26,0.9 -1.84,1.48 -2.74,2.75 11.89,22.03 30.76,54.48 6.13,79.27 -27.22,0 -13.43,-28.7 -8.41,-43.28 -10.25,-6.35 -27,-21.99 -38.42,-11.37 3.96,6.93 7.51,14.17 10.68,21.83 -1.91,3.33 -1.91,3.33 -7.08,7.24 -25,-13 -26.69,-11.15 -26.69,-38 -11.95,15.12 -16.97,41.75 -15.65,61.52 10.04,5.02 20.3,10.25 30.39,15.85 -1.11,8.57 -2.06,17.71 -3.01,27.96 2.27,0.74 4.65,2.22 7.29,3.38 0,19.35 -16.96,12.11 -26.85,2.59 0,-9.51 0,-18.44 0.74,-27.43 -10.62,0 -44.02,46.83 -52.21,55.97 -12.85,0 -28.54,-12.31 -28.54,-26.32 10.83,-6.34 38.79,-18.44 41.06,-19.92 9.46,-37.84 19.77,-75.73 29.81,-112.62 -4.28,-2.22 -8.19,-3.76 -11.36,-5.61 -20.72,15.28 -44.4,37.84 -44.4,65.27 3.91,9.67 8.41,16.76 8.41,26.85 -7.83,7.66 -12.11,14.38 -23.52,13.43 -28.33,-38.96 -28.33,-38.96 -41.39,-54.44 -10.25,9.14 -19.92,21.25 -33.19,23.31 -17.12,-24.79 169.87,-294.22 196.93,-335.07 21.98,-33.56 45.29,-66.17 68.02,-98.62 -1.11,-2.8 -9.31,-6.87 -13.22,-4.86 -94.92,136.3 -181.96,276.72 -267.16,420.26 -9.35,2.59 -17.92,2.59 -26.85,2.59 -5.44,-5.02 -3.75,-10.78 0,-16.22 -8.61,-0.16 -62.1,5.97 -88.21,7.87 -1.69,-2.64 -1.69,-2.64 -3.38,-28.01 -7.98,9.88 -14.16,19.4 -21.61,28.75 -12.85,0 -10.79,-11.36 -11.58,-22.2 -15.8,0 -15.8,0 -24.79,2.06 -5.02,9.15 -9.14,18.66 -14.16,27.75 -2.8,-0.53 -5.23,-0.53 -7.82,-0.53 -4.65,-10.25 -8.56,-19.76 -13.06,-30.39 -5.6,6.71 -10.83,13.96 -16.01,20.67 -2.64,-0.53 -5.23,-0.53 -8.4,-0.53 -5.98,-11.95 -8.2,-27.8 -8.2,-41.75 28.86,-25.58 27.96,-25.58 34.67,-61.73 -23.67,24.79 -47.72,49.94 -71.24,74.94 -17.7,0 -37.84,-10.99 -53.85,-17.55 2.06,21.09 15.64,65.27 -8.41,81.5 -27.96,7.82 -55.39,16.43 -82.6,24.63 -2.59,29.28 3.54,104 -41.76,85.56 -1.48,3.91 -3.38,7.66 -4.65,11.73 18.24,24.79 6.34,40.86 3.17,71.61 47.73,95.82 44.35,68.45 -28.75,91.17 -17.86,10.99 -14.32,29.44 -25.89,43.81l-11.21 0c5.6,75.53 40.12,121.19 78.33,184.98 3.38,-0.58 7.29,-0.95 11.2,-0.95 0.53,-26.27 1.27,-52.96 2.8,-78.49 4.65,-12.89 29.81,-38.21 42.12,-38.21 4.13,6.29 4.13,6.29 7.09,7.83 6.5,-20.72 3.54,-47.36 3.54,-69.03 11.2,-7.45 36.94,-37.1 50.73,-23.67 15.28,-7.24 40.44,-3.54 57.24,-3.54 15.07,18.65 30.02,37.47 45.08,56.49 36.95,3.02 43.08,-3.17 57.61,29.86 5.45,0.53 11.05,0.53 16.81,1.27 -0.95,-9.3 -2.59,-18.81 -3.17,-28.11 5.76,-2.28 8.56,-3.02 15.11,-3.76 2.22,-14.53 8.2,-11.73 21.41,-13.42 0,-7.08 0,-15.49 3.75,-21.25 132.02,2.96 132.02,2.96 138.89,5.02 2.65,3.02 2.65,3.02 11.95,32.45 13.95,4.87 36.52,4.87 37.1,21.99 39.32,-7.82 39.32,-7.82 45.87,-7.82 13.06,13.05 26.64,71.77 33.35,91.16 5.82,-1.85 7.83,-3.54 14.91,-3.54 12.89,18.87 28.91,11.21 48.67,18.87 18.45,18.23 21.25,25.53 47.2,25.53 4.65,5.23 9.67,11.36 15.27,17.33 21.83,-9.14 47.2,-27.96 70.67,-31.71 32.23,6.34 61.36,7.08 94.7,7.45 0,-26.26 -2.8,-46.61 17.55,-65.21 39.53,8.19 48.84,10.99 76.27,39.53 4.28,-0.79 4.28,-0.79 19.76,-10.1 76.79,-3.33 84.99,17.55 151.37,-28.53 26.48,-6.88 55.02,-0.9 76.26,-19.77 -2.8,-24.42 -13.21,-54.81 -13.21,-77.9 42.12,-34.3 40.8,-30.39 95.82,-30.39 15.85,16.01 32.24,32.98 48.46,49.57l55.02 0c3.54,3.54 7.08,7.3 10.41,11.74 11.58,-17.87 22.78,-34.67 33.56,-51.64l8.62 0c16.01,32.61 28.33,76.05 31.13,111.88 -29.65,31.13 -27.8,24.21 -5.45,61.89 5.82,-25.37 9.89,-17.91 35.1,-17.91 25.52,-57.24 9.3,-129.75 5.55,-191.64 -14.91,-27.8 -29.23,-55.38 -43.24,-82.81 -10.99,-2.38 -22.19,-5.18 -33.34,-7.83 -3.97,-7.61 3.11,-10.41 3.32,-17.12 -4.28,-0.21 -8.93,-0.95 -12.47,-0.95 -4.49,11.2 -9.88,25.16 -16.8,34.88l-14.91 0c-4.28,-5.23 -8.93,-9.72 -12.84,-14.53 -8.41,0.74 -17.39,4.81 -23.52,0 -1.69,-53.7 -1.69,-107.39 -2.22,-160.35 14.32,-15.48 28.33,-30.76 42.7,-46.09 -0.21,-6.5 -0.95,-12.68 -1.53,-19.18 10.84,-6.5 25.74,-21.25 39.74,-18.81 0.74,-5.08 1.85,-9.52 3.92,-14.01 -30.39,-7.24 -47.2,-68.6 -31.34,-93.76 43.44,39.33 81.65,64.85 104.22,116.91 31.13,23.68 62.47,46.61 93.6,70.29 273.71,274.03 451.77,661.47 488.29,1046.11 -0.37,5.6 -0.37,11.21 -0.37,16.38 -156.39,183.29 -331.11,324.24 -546.48,434.27l0 -16.96c47.93,-24.84 47.93,-24.84 46.82,-26.11 -16.06,7.61 -31.71,15.06 -47.56,23.1 -4.65,-277.41 -78.64,-549.43 -160.51,-812.52 -15.12,-38.95 -16.44,-32.08 9.67,-64.69 13.64,-32.82 -0.53,-68.07 37.68,-75.52 2.06,-16.23 5.39,-52.59 21.46,-59.46 -21.46,-41.75 -24.84,-34.88 7.24,-68.44 -21.98,-78.11 -21.98,-78.11 -24.79,-83.5 -10.04,15.06 -19.76,30.18 -29.27,45.45l-7.83 0c-4.49,-5.18 -9.67,-10.41 -14,-15.43l-56.5 0c-15.27,-16.97 -31.29,-33.77 -47.35,-50l-47.89 0c-21.83,18.82 -21.83,18.82 -27.22,22.57 0,33.56 34.46,82.97 -14.9,96.77 3.33,28.17 3.33,28.17 4.81,29.8 42.33,-13.79 33.93,-12.1 65.85,21.09 0,5.97 -73.46,79.44 -80.17,87.26 -10.1,2.22 -20.72,4.28 -30.97,6.34 -1.11,5.97 8.4,19.77 9.14,29.07 -27.96,30.39 -87.1,90.05 -129.59,90.05 -23.89,-7.45 -47.57,-14.32 -70.45,-20.87 -26.32,3.75 -52.8,7.82 -79.07,11.94 -16.44,-13.42 -33.03,-27.06 -49.04,-40.48 -74.21,-21.78 -74.21,-5.39 -91.01,-74.94 -10.79,-12.85 -21.99,-25 -32.98,-37.63 -9.31,0 -18.29,6.5 -26.85,11.15 -6.5,37.84 -17.55,26.48 -57.08,29.65 -11.15,46.08 -5.92,38.58 -53.7,49.41 -4.81,62.84 -4.81,62.84 -6.5,66.75 -32.61,4.28 -57.82,31.13 -88.37,41.23 -41.59,5.76 -55.01,-5.45 -61.36,31.49 5.82,5.39 11.58,11.16 17.34,16.6 -0.37,7.98 -0.37,16.38 -0.37,24.79 28.17,17.54 56.34,35.03 84.3,52.58 19.39,21.62 4.44,25.37 -14.38,45.66 1.32,14.91 9.51,29.28 9.51,44.4 -2.95,1.64 -2.95,1.64 -24.41,1.27 0,7.87 0,7.87 4.86,29.12 11.36,7.61 24.05,14.69 35.41,22.72 72.51,5.39 120.98,101.63 200.99,57.61 23.68,-3.91 57.98,14.16 57.98,40.27 -3.75,1.85 -57.98,3.17 -64.9,4.86 1.69,0.37 4.7,0.74 7.66,1.69 3.33,7.24 6.93,16.02 11,24.42 15.11,2.22 40.85,2.22 53.53,11.57l0 4.65c-23.3,20.14 -23.3,20.14 -23.3,22.94 5.55,5.02 13.42,4.07 21.4,5.02 1.9,2.59 1.9,2.59 5.82,39.69l12.1 0c0,-35.2 -9.14,-35.99 19.55,-51.26 19.77,-41.75 32.45,-64.32 65.86,-95.82 -0.22,-5.39 -22.04,-22.72 -26.69,-33.03 6.34,-18.07 20.34,8.03 25.36,14.22 17.71,8.19 35.78,16.22 53.7,23.3 8.56,20.67 -8.03,58.14 -13.21,77.75 26.05,2 25.16,15.27 37.26,40.43 12.31,0.95 25.37,1.69 38.05,2.8 0,-2.8 0.9,-6.13 1.27,-9.3 29.65,-10.26 58.93,-23.89 86.52,-36.95 23.67,3.39 51.47,28.7 70.87,41.38 16.75,-4.8 34.3,-13.21 52.01,-13.21 2.06,2.22 3.38,5.76 5.39,8.78 8.61,-18.66 40.27,-28.54 58.56,-38.21 6.71,-16.23 6.71,-16.23 12.68,-26.32 7.29,0 9.3,0.58 14.75,4.86 15.64,-10.47 30.76,-19.77 46.4,-29.86 17.18,-26.85 33.93,-53.7 51.48,-80.7 -7.3,-44.03 22.56,-69.18 24.04,-113.37l2.06 0c8.78,37.31 19.03,75.31 28.49,112.78 -7.98,7.83 -12.47,27.59 -16.54,38.64 2.96,4.07 7.08,7.98 10.25,13.42 2.01,-15.85 3.33,-31.55 5.39,-47.4 17.5,21.82 30.92,128.68 30.92,143.75 -3.17,1.32 -7.08,2.8 -10.25,4.33 0.21,8.35 10.83,53.7 -4.44,57.03 1.27,3.75 2.59,7.45 4.44,10.46 18.28,1.64 18.28,-1.16 22.2,14.9l5.6 0c11.57,92.65 19.55,183.08 20.72,276.67 -49.63,24.05 -49.63,24.05 -103.86,48.31 7.82,-19.03 17.34,-36.36 34.67,-47.36 -13.05,-10.99 -29.65,-31.55 -47.93,-20.5 -28.33,41.38 -92.86,124.35 -150.47,93.6l-6.13 0c-4.65,6.29 -8.77,13.58 -13.27,20.5 2.8,4.44 5.45,9.3 9.15,14.17 -53.12,15.27 -108.67,27.95 -161.99,40.8 -0.95,-4.44 -0.95,-8.78 -1.69,-12.85 -7.09,2.06 -7.09,2.06 -15.86,1.32 -2.8,-3.75 -2.8,-9.51 0,-13.42 -7.82,-7.29 -43.6,-8.98 -55.55,-11.41 -42.7,-24.21 -69.76,-42.87 -118.59,-46.25 39.32,30.97 79.96,63.05 120.44,94.55 -82.76,11.2 -164.26,18.44 -247.6,23.31 -0.95,-166.48 -0.95,-333.17 -0.95,-499.65 11.04,2.59 20.92,34.67 25.21,44.71 44.55,46.09 56.65,47.73 55.54,108.51 26.64,3.38 43.45,-10.05 48.47,-34.3 15.48,-15.28 36.2,27.42 42.7,29.27 5.6,-39.16 -20.51,-50.15 -13.05,-92.48 18.07,-13.8 57.23,-35.41 59.88,-60.2 -36.21,-1.48 -30.39,-5.6 -47.78,-40.27 -8.19,-0.95 -14.69,-1.69 -22.89,-2.06 -7.87,-14.17 14.7,-60.04 13.96,-82.02 -14.54,-5.61 -14.54,-5.61 -25.16,-8.94 -12.68,11.89 -26.11,23.31 -38.42,35.04 -13.96,27.96 -22.2,59.09 -47.89,74.2 -0.58,13.8 -0.58,27.75 -0.58,41.97 -28.7,28.48 -39.32,-18.29 -41.01,-34.73 -12.68,0 -27.96,-9.88 -27.96,-23.46 5.76,-5.39 10.62,-10.62 16.02,-16.23 -34.52,-5.23 -38.59,-0.74 -51.11,-30.75 -5.55,-1.33 -9.67,-2.44 -15.8,-2.59 0,9.88 -1.91,20.29 -5.98,29.59 5.98,29.86 12.11,59.88 17.13,90.06 7.45,-0.9 15.11,-2.01 22.2,-2.59 5.23,-9.3 10.25,-17.92 14.9,-26.64 2.64,-0.58 5.6,-0.95 8.4,-0.95 0.21,168.17 0.58,335.76 1.32,504.51 -297.39,-2.59 -577.61,-59.09 -846.83,-188.68 3.33,-144.49 33.93,-287.66 65.8,-428.08 10.41,-6.5 20.88,-13.06 31.87,-19.56 -23.1,-36.57 -14.91,-47.72 -4.28,-90.79 16.22,0 57.23,32.61 72.35,41.91 26.85,-33.35 11.52,-14.7 43.81,-14.7 -8.4,-20.34 -24.25,-74.04 -40.85,-84.45 0,-14 18.45,-27.06 27.43,-37.1 -32.08,-33.56 -20.35,-36.57 -4.49,-81.86 17.91,-15.28 17.91,-15.28 37.47,-27.96 -10.41,-82.4 -92.65,-133.5 -119.5,-210.35 -35.04,-21.61 -85.56,-3.32 -117.27,-32.76 -21.99,30.92 -19.61,41.54 -18.82,79.38 -8.03,10.83 -15.7,21.09 -23.15,31.92 1.85,41.17 4.12,81.44 7.45,122.66 22.41,32.08 22.41,54.81 26.85,96.4 9.52,15.12 18.66,30.39 28.17,45.88 45.14,14.69 68.97,7.98 68.97,62.04 -4.65,16.6 -8.77,33.56 -13.21,50.53l-2.8 0c-7.08,-11.37 -13.43,-21.99 -19.98,-32.24 -5.55,5.39 -10.41,11.36 -15.43,17.91 5.76,41.55 5.76,32.45 -26.11,68.39 -8.61,0 -8.61,0 -54.81,-5.92 1.85,20.14 3.91,40.06 5.76,60.94 25,7.29 46.62,11.36 64.91,-9.67 7.82,0 15.27,0.74 23.67,0.9 -27.22,130.32 -50.36,256.21 -57.66,388.92 -109.4,-54.59 -210.29,-119.71 -307.43,-194.81 6.71,-0.21 13.63,-1.48 21.24,-2.06 -7.61,-33.56 -15.27,-66.53 -22.56,-99.35 -26.85,-39.91 -65.59,-76.64 -98.62,-111.52 4.86,29.65 12.52,29.65 -10.26,46.62 -10.62,50.31 60.78,128.47 87.1,170.38 2.8,0.37 6.5,1.33 10.04,2.07 99.57,78.69 207.55,144.7 319.59,203.78 0,110.57 13.59,218.7 68.02,310.23 9.73,5.98 19.4,12.69 29.49,18.66 -64.16,-92.12 -93.81,-210.66 -82.6,-322.17 238.46,104.96 461.28,163.67 721.73,185.34 41.23,0.74 82.77,1.11 124.94,2.01 0,33.03 -10.09,246.33 0,322.97 4.81,0 10.05,-0.37 15.07,-0.96 7.5,-77.58 -2.22,-289.56 -2.22,-322.01 88.73,-4.07 176.73,-11.52 264.78,-23.68 33.72,27.06 67.12,46.09 110.35,36.94 1.85,-11.94 3.55,-23.14 5.61,-34.51 -14.54,-5.6 -27.96,-10.04 -42.13,-14.9l0 -2.96c48.84,-9.88 97.51,-23.52 145.98,-35.99 7.61,0 9.67,5.97 13.79,12.47 92.86,-21.82 92.86,-21.82 99.94,-21.82 18.66,9.88 40.81,-24.58 40.81,-41.39 5.6,-11.57 73.09,-33.56 86.88,-40.06 -15.85,42.86 -1.11,27.38 1.91,61.68 0.52,-0.53 1.48,-0.53 2.59,-1.48 0,-25 0.95,-30.76 13.42,-51.26l10.04 0c5.82,12.68 -4.44,66.74 -5.39,79.43 -11.57,56.5 -25.37,128.64 -60.57,175.62 -47.93,24.63 -96.03,49.04 -143.38,74.2 -16.81,17.92 -9.52,12.31 -11.58,31.13 -3.75,0.58 -6.5,2.43 -9.88,4.49 8.93,4.65 17.92,3.54 26.85,1.48 12.31,-5.39 25.16,-10.04 36.94,-15.85 12.26,-7.09 22.73,-12.48 32.61,-15.28 26.85,-12.68 54.44,-25 81.29,-39.53 104.59,-63.21 199.51,-127.16 292,-206.38 61.15,-54.43 119.28,-112.62 172.24,-176.73 2.27,-5.07 7.45,-10.83 8.99,-15.48 -5.82,-6.19 3.7,-17.55 0.37,-22.41 -13.64,8.77 -11.95,-2.96 -13.8,-12.84 -28.75,50.73 -63.79,149.51 -139.31,149.51 -8.57,-11.36 11.57,-26.11 11.57,-36.52 -16.22,9.3 -30.6,18.81 -45.29,28.54 -2.43,17.86 -36.95,38.95 -51.11,50.89 -14.9,28.12 -42.12,75.84 -73.99,58.14 -54.86,26.84 -102.96,86.51 -146.93,128.11 0,-12.48 18.45,-48.84 22.36,-61.73 11.57,-41.17 18.44,-143.02 44.76,-166.85 -14,-12.68 -13.05,-25.74 -8.98,-43.44 77.74,-41.6 153.48,-85.57 226.73,-133.29 -4.07,5.76 -4.07,5.76 -2.96,7.08 23.31,-11.41 23.31,-11.41 29.44,-16.59 -0.53,-1.33 -1.32,-2.65 -2.06,-4.13 -9.15,5.24 -9.15,5.24 -12.69,4.13 114.9,-85.25 213.68,-177.53 307.65,-286.4 0.74,-0.37 1.32,-1.11 2.8,-1.11 -0.16,55.76 -5.39,111.83 -15.85,167.43 5.97,-11.36 13.05,-20.5 18.49,-31.5 6.72,-51.32 9.67,-102.74 10.63,-156.06 55.17,-74.79 98.99,-151.58 137.04,-233.65 5.39,-23.84 10.62,-47.52 14.9,-71.56 -37.31,100.84 -87.62,191.63 -152.16,283.96 -2.06,-5.23 -8.03,-65.48 -19.55,-141.16 -74.2,-356.47 -241.85,-666.55 -494.48,-928.47 -14,-46.61 -18.65,-65.48 -55.38,-97.14zm-573.49 491.82c-3.38,0.96 -6.19,1.7 -9.73,2.22 -5.02,-8.93 -9.3,-16.22 -12.1,-26.63 4.12,-0.58 8.93,-1.11 13.64,-1.69 3.91,4.49 5.39,7.08 5.39,12.68 1.32,0 2.22,0.58 3.33,0.95 -0.53,3.7 -0.53,7.61 -0.53,12.47zm519.79 -498.74c-22.2,-21.41 -44.55,-42.12 -66.75,-62.84 11.94,8.24 11.94,8.24 14.59,8.24 -5.61,-18.28 -46.09,-51.84 -6.72,-56.33 32.98,33.19 42.65,63.21 60.57,107.76 -0.95,0.95 -0.95,1.69 -1.69,3.17zm-54.81 1008.85c-22.35,6.13 -22.35,6.13 -31.13,7.08 -10.46,-9.88 12.48,-28.69 18.08,-36.15 -16.23,-3.54 -36.36,-0.74 -33.56,-18.65 8.4,-3.01 16.8,-4.86 26.11,-7.82 -21.99,-20.51 -35.41,-36.36 -64.32,-42.92 -12.85,-24.41 16.22,-63.58 30.02,-83.5 0,-0.95 0,-1.32 -0.59,-2.22 -5.02,0 -9.67,0.53 -13.95,0.9 -6.92,9.14 -12.52,18.44 -18.87,27.8 -19.18,0 -39.11,-17.34 -54.96,-26.32 -1.32,-2.96 -2.06,-5.18 -2.06,-7.61 17.91,-30.76 36.36,-61.15 55.02,-91.01 1.11,-0.16 3.17,-0.37 5.02,-0.37 11.57,31.13 19.39,64.16 29.8,96.61 1.17,0 2.28,-0.58 2.44,-0.58 0,1.11 -0.74,1.85 -1.85,2.8 19.55,59.3 40.27,118.75 55.91,178.42 -0.53,0.74 -0.53,2.06 -1.11,3.54zm72.73 312.5c1.48,10.26 2.96,21.04 3.91,32.03 -5.76,-11.52 -8.41,-20.29 -3.91,-32.03zm25.89 344.69c-4.07,1.16 -6.87,2.8 -9.88,4.12 -4.07,-2.22 -8.56,-3.33 -13.05,-5.39 17.54,-9.14 17.54,-9.14 24.99,-11.2 -0.95,4.12 -1.69,8.4 -2.06,12.47z"/>
            <path class="fil0" d="M1911.87 3397.25c6.5,-20.66 11.89,-56.29 41.91,-50.68 18.13,43.44 33.77,71.77 63.42,109.24 1.11,-1.69 1.11,-1.69 -22.72,-82.77 -0.59,-24.78 -0.59,-49.04 -0.59,-73.3 -35.99,-4.28 -51.26,-31.13 -77.21,-55.54 0,-33.72 0.21,-67.12 1.32,-100.84 -8.03,6.13 -15.49,13.58 -25.53,13.58 -3.91,-6.5 -4.65,-13.58 -5.39,-21.24l-3.01 0c0,14.74 4.49,67.64 -4.49,78.48l-5.55 0c-9.36,-13.22 -4.5,-45.66 -4.5,-61.52 -20.13,52.37 -39.53,53.11 18.29,84.67 7.82,22.72 19.93,47.88 23.1,73.25 -11.58,13.05 -31.71,29.27 -35.25,46.98 10.83,13.05 22.19,26.48 33.77,39.69l2.43 0z"/>
            <path class="fil0" d="M2052.98 3684.22c8.99,-5.97 24.26,7.09 33.4,10.05 0,-6.13 0.9,-11.95 1.64,-17.34 -40.8,-8.19 -37.47,-3.17 -39.48,-43.6 24.58,-72.93 14.54,-68.28 -20.35,-144.91 -37.68,-44.56 -60.99,-74.21 -82.23,-127.32 -27.59,2.06 -11.37,48.83 -31.29,58.72 -3.54,-1.48 -18.5,-19.19 -25.74,-24.79 72.51,161.83 139.48,326.67 201.15,493.35 30.02,45.46 61.52,89.27 96.03,131.23 16.44,4.86 32.08,14.75 46.99,22.36 0.58,-0.53 1.32,-0.9 2.06,-1.27 -12.47,-38.64 -26.11,-75.52 -42.7,-113 -62.84,-59.87 -130.49,-153.84 -139.48,-243.48z"/>
            <path class="fil0" d="M1894.16 3460.46c6.72,22.72 13.43,45.29 20.88,67.49 33.35,91.16 70.66,177.47 115.37,262.87 7.3,12.69 14.96,24.79 22.57,37.1 -53.33,-138.15 -108.13,-275.56 -168.7,-410.38 0,5.02 7.98,33.19 9.88,42.92z"/>
            <path class="fil0" d="M4426.74 3966.44c-2.8,2.38 -5.6,5.39 -7.66,8.57 2.22,-2.07 8.56,-4.87 7.66,-8.57z"/>
            <path class="fil0" d="M1851.41 3231.41c2.22,36.36 10.09,73.62 14.9,109.61l3.17 0c3.54,-12.69 19.4,-25 27.8,-35.99 -12.1,-35.99 -12.1,-56.13 -45.87,-73.62z"/>
            <path class="fil0" d="M2736.77 3567.22c31.13,10.46 62.84,21.82 94.5,33.03 5.6,9.3 17.54,39.32 27.8,42.33 6.34,-6.34 12.84,-11.94 18.65,-17.55 16.6,2.06 32.98,13.43 47.73,21.09l2.22 0c-12.47,-51.32 -42.34,-61.57 -7.24,-101.84 16.38,0 28.48,13.26 44.92,10.83 21.25,-16.59 42.12,-33.93 63.37,-49.94 3.75,-7.51 -1.48,-22.78 -1.85,-31.55 7.08,-7.45 14.16,3.54 19.93,7.29 2.06,-4.28 -24.95,-32.24 -28.7,-37.1 0.37,-5.39 0.74,-9.88 1.11,-14.37 18.65,-57.03 33.03,-52.38 -28.12,-39.91 -0.95,20.51 -5.81,26.11 -17.18,42.92 -8.56,0.74 -16.38,1.48 -25,1.48 -25.15,57.39 -18.23,29.07 -82.76,41.38 -6.34,10.09 -11.73,19.61 -17.71,28.91 -28.69,0 -68.97,-18.82 -97.35,-27.59 16.44,37.1 16.44,37.1 28.38,68.23 0,29.65 -42.7,-3.91 -42.7,22.36z"/>
            <path class="fil0" d="M2742.48 3459.19c31.87,10.62 63.37,21.03 94.71,31.29 2.06,-0.53 4.12,-0.53 6.13,-0.53 5.07,-9.51 11.2,-18.29 16.43,-27.59 18.29,-2.06 18.29,-2.06 64.11,-3.17 5.82,-13.42 12.53,-26.69 18.66,-39.74l25.58 0c8.93,-12.85 9.3,-19.77 9.3,-35.41 14.54,-19.61 57.82,-7.08 73.09,-22.36 -55.38,-0.58 -55.38,-0.58 -61.14,-2.43 -1.7,-5.23 -1.7,-5.23 -5.08,-30.76 -11.15,5.18 -21.03,10.25 -31.5,16.02 -28.11,-8.41 -56.65,-17.55 -84.24,-26.27 -25.21,28.33 -44.56,25.9 -74.79,12.26 -32.24,0 -42.12,43.28 -50.15,66.22 8.19,7.82 15.64,16.23 23.89,24.79 0,16.96 -25,24.04 -25,37.68z"/>
            <path class="fil0" d="M3119.36 4089.43c2.59,2.43 5.23,4.12 8.19,7.29 6.93,-1.48 13.27,-2.43 20.72,-3.54 0.37,-6.71 1.85,-13.8 3.17,-20.72 -10.25,-10.41 -19.4,-20.29 -28.54,-30.02 -2.22,12.53 -2.22,12.53 -3.54,46.99z"/>
            <path class="fil0" d="M2885.33 2932.33c-14.53,-33.19 -15.85,-26.48 -55.54,-28.7 -4.65,14.53 -9.3,28.7 -14.01,43.6 -24.78,21.83 -31.66,33.77 -20.29,71.24 15.27,3.7 30.76,8.72 46.24,12.85 14.91,-4.13 30.18,-10.84 45.14,-10.84 13.95,40.86 14.53,35.09 -9.36,68.81 4.28,20.35 38.95,22.57 56.87,26.85 5.23,25.95 10.25,51.85 16.81,77.21 8.19,3.92 14.69,7.24 21.61,13.43 28.33,-3.01 52.96,-27.96 81.08,-27.96 16.8,14.9 15.11,17.71 33.4,2.59 22.94,-4.28 82.02,27.01 105.91,34.88l2.96 0c5.39,-67.7 -10.41,-61.36 50.74,-74.2 7.24,-32.45 7.24,-32.45 10.78,-40.27 17.18,-1.9 34.51,-2.8 51.64,-3.97 3.38,-27.58 16.06,-19.55 20.71,-34.29 -2.58,-4.07 -5.6,-7.83 -8.56,-10.79 -26.85,-1.69 -32.08,-11.73 -51.26,-30.6 -13.27,-1.26 -35.47,-0.37 -44.19,-12.1 -8.4,0 -15.32,5.76 -21.82,-0.58 -9.89,-29.65 -20.14,-58.72 -29.65,-88.37 -5.24,-0.89 -5.24,-0.89 -45.51,7.09 -4.28,-4.07 -5.39,-8.94 -5.39,-14.17 -12.1,-3.91 -23.52,-7.82 -34.3,-10.99 -3.91,-10.99 -7.82,-21.25 -11.57,-32.08 -39.91,-1.69 -79.44,-2.59 -119.34,-3.54 -0.9,18.81 1.32,21.09 -17.87,23.15 -2.64,2.38 -3.75,5.55 -5.07,9.67 -4.07,0.58 -8.35,1.85 -12.47,2.22 0.74,9.88 1.69,19.39 2.8,29.28 -7.08,4.49 -32.45,4.49 -40.49,0.58z"/>
            <path class="fil0" d="M3314.91 3617.11c-12.31,-1.17 -24.26,-1.54 -36.15,-2.44 -28.54,-21.45 -93.07,-91.9 -126.26,-46.45 45.5,37.31 92.12,49.78 147.88,72.35 6.13,-7.24 12.84,-13.79 14.53,-23.46z"/>
            <path class="fil0" d="M3099.12 3373.73c-1.11,2.8 -1.32,5.39 -1.85,8.03 -5.45,2.44 -5.45,2.44 -52.8,11.58 -4.28,15.27 -8.56,30.76 -13.21,46.19 10.99,12.31 29.44,28.17 29.44,44.76 -5.4,2.43 -5.4,2.43 -19.77,3.17 3.17,7.3 3.17,14.01 3.17,21.46 -26.27,20.3 -52.22,40.43 -77.9,61.52 -23.52,0 -31.71,-21.83 -50.37,-2.8 2.8,28.7 24.79,53.69 24.79,82.6 -24.58,15.86 -44.93,-24.41 -74.36,2.43 0,8.2 4.65,12.69 8.56,20.3 9.51,0.74 27.8,-0.74 34.51,6.55 0,10.78 -14.75,22.57 -25.37,22.57 4.49,8.93 10.41,17.33 14.9,26.85 9.73,0.15 19.03,0.74 28.91,1.63 4.5,-10.41 6.35,-19.55 15.86,-27 38.95,10.25 16.23,40.27 10.25,73.09 4.65,31.13 10.04,62.84 15.65,93.6 21.24,55.91 38.58,134.02 82.97,171.71 17.18,-9.89 33.93,-20.35 50.74,-30.23 2.59,-7.46 2.59,-7.46 20.51,-115.01 1.85,-2.43 1.85,-2.43 54.59,-17.33 57.08,-36.2 102.74,-67.12 148.41,-116.9l6.92 0c2.22,4.44 4.49,11.36 9.3,13.05 -2.43,-12.68 -34.3,-128.48 0.37,-136.3 0,-7.08 0.58,-13.42 0.95,-19.61 -7.29,-0.74 -7.29,-0.74 -14.53,0.58 -10.62,15.28 -16.07,29.28 -35.04,31.34 -61.36,-24.1 -107.02,-39.9 -157.55,-79.06 0,-10.99 8.56,-18.66 15.64,-27.59 -1.32,-2.64 -1.32,-2.64 -28.16,-18.28 -6.72,-11.21 -15.65,-40.86 -7.83,-51.27l20.88 0c-0.53,-8.56 -0.53,-8.56 -8.19,-34.51 6.13,-7.08 23.3,-21.46 23.3,-30.76 -15.48,-13.95 -35.99,-25.37 -53.69,-36.36z"/>
            <path class="fil0" d="M2230.35 2275.09c-17.92,7.87 -31.34,12.52 -44.39,27.43 14.53,-5.03 28.53,-10.1 42.49,-15.65 1.9,-7.29 1.9,-7.29 1.9,-11.78z"/>
            <path class="fil0" d="M2774.29 1970.14c-11.57,3.38 -21.24,14.01 -31.86,21.09 -0.8,11.89 -0.8,24.05 -1.17,36.15 2.8,1.69 6.19,3.75 9.89,5.76 10.46,-5.18 29.49,-14.32 33.19,-24.79 -6.72,0.37 -6.72,0.37 -11.74,-1.27 -1.11,-11.57 1.69,-11.57 8.94,-18.86 -4.29,-10.26 -8.2,0.21 -7.25,-18.08z"/>
            <path class="fil0" d="M2764.99 2273.77c10.26,-3.39 20.51,-6.56 30.55,-8.78l0 -2.27c-15.06,-0.37 -30.55,-0.37 -45.87,-0.37 4.86,3.75 9.88,7.29 15.32,11.42z"/>
            <path class="fil0" d="M3050.71 2164.79c2.59,-0.53 5.97,-0.9 8.19,-1.27 -6.34,-0.37 -6.34,-0.37 -8.19,1.27z"/>
            <path class="fil0" d="M3050.02 3377.85c23.1,-3.7 23.1,-3.7 26.85,-5.39 -2.59,-2.8 -5.39,-5.97 -7.82,-8.56 -7.3,0 -13.8,9.3 -19.03,13.95z"/>
            <path class="fil0" d="M2627.9 2469.36c-6.5,4.13 -6.5,4.13 -18.29,15.65 -0.9,-6.35 -1.85,-13.43 -2.96,-19.4 -2.06,1.69 -4.49,3.75 -7.29,5.44 -2.22,12.85 12.89,41.02 17.54,53.7 5.39,0.37 11,1.27 15.86,2.59 8.56,-2.59 13.42,-5.97 20.66,-11.36 0,-11.95 -19.55,-36.15 -25.52,-46.62z"/>
            <path class="fil0" d="M2561.41 2167.33c1.48,0.15 3.33,1.26 6.13,2 0,-1.85 0.21,-3.17 1.69,-4.44 -2.8,0.37 -5.39,1.27 -7.82,2.44z"/>
            <path class="fil0" d="M2589 2275.46c-3.33,6.34 -6.34,11.2 -6.34,18.44 6.34,3.54 12.15,7.88 18.65,10.99 9.52,-3.11 13.8,-3.11 23.68,-3.11 1.11,1.11 1.85,2.96 2.22,5.39 42.7,-5.02 40.85,-10.63 69.76,-44.77 -14.53,-14.32 -21.45,-12.84 -41.96,-13.21 -0.95,-2.06 -1.48,-3.38 -2.06,-4.28 -1.64,-0.42 -3.17,-0.95 -4.44,-0.95 1.27,6.5 2.8,13.58 4.44,19.92 -1.64,1.16 -3.17,2.64 -5.02,3.75 -1.69,-0.37 -3.91,-0.37 -5.23,-0.37 -4.44,-5.23 -4.44,-5.23 -7.25,-13.63 -1.9,-0.74 -3.91,-1.27 -5.44,-1.48 -0.53,0.74 -1.85,1.48 -2.01,3.17 2.01,0.74 4.65,2.59 7.45,4.86 0,17.34 -33.03,13.59 -46.45,15.28z"/>
            <path class="fil0" d="M2171.1 2430.62c6.13,-1.26 9.52,-7.24 12.11,-12.31 58.71,-16.75 78.48,-115.74 85.19,-166.11 -21.4,0 -24.94,32.82 -29.07,46.09 -23.51,7.98 -46.82,15.64 -69.34,24.04 -3.01,23.47 -18.65,41.17 -22.93,64.11 1.63,12.1 4.28,24.26 6.13,36.94 5.76,1.48 11.94,4.81 17.91,7.24z"/>
            <path class="fil0" d="M1987.6 2506.15c6.93,-3.91 14.91,1.85 20.88,5.02 5.81,-19.03 12.32,-37.63 18.82,-56.13 -1.48,-1.64 -2.96,-2.59 -3.92,-3.54 -1.26,-9.3 2.07,-18.23 3.39,-28.12 -15.12,0 -23.31,38.74 -41.02,21.62 1.85,-14.38 4.44,-28.91 6.72,-43.29 -30.39,55.76 -52.8,106.29 -74.05,166.91 1.11,17.49 1.11,17.49 9.73,60.03 19.55,-41.22 39.53,-82.23 59.45,-122.5z"/>
            <path class="fil0" d="M2041.3 2396.27c5.02,-10.46 3.54,-17.91 2.59,-29.28 -10.83,3.54 -21.83,6.5 -32.24,10.41 -3.17,15.86 -6.34,31.34 -8.77,46.99 10.46,-9.3 23.46,-28.12 38.42,-28.12z"/>
            <path class="fil0" d="M1905.79 2770.29c3.54,7.82 3.54,7.82 12.69,52.37 3.32,-1.1 3.32,-1.1 21.4,-24.41 16.6,-94.87 32.08,-183.07 60.62,-274.24 -1.32,-1.85 -2.8,-3.17 -3.75,-3.91 -6.5,10.04 -6.5,10.04 -65.64,133.66 -23.68,2.64 -19.19,-34.3 -22.73,-52.75 -32.98,84.67 -46.61,183.81 -58.35,273.71 36.89,-32.08 36.52,-55.6 47.36,-104.43l8.4 0z"/>
            <path class="fil0" d="M2621.66 2626.7c3.54,-16.97 8.25,-78.11 13.79,-85.2 -35.41,-17.54 -35.04,27.59 -74.73,-5.07 -12.15,12.68 -23.89,24.79 -33.93,39 13.8,21.62 29.65,63.58 55.55,68.76l6.71 0c8.4,-25.16 8.4,-25.16 32.61,-17.49z"/>
            <path class="fil0" d="M2099.7 2477.13c20.88,-13.21 22.15,-66.91 26.64,-89.31 -17.92,3.54 -21.83,2.06 -30.39,-14.17 -12.47,0 -29.28,15.12 -39.69,20.88 -3.17,15.69 16.01,49.99 22.35,64.9 17.34,2.59 17.55,0.58 21.09,17.7z"/>
            <path class="fil0" d="M1844.75 2926.15c-5.6,83.92 -4.65,168.16 -0.21,252.46 7.66,-19.56 7.66,-19.56 28.54,-58.35 7.29,-63.42 -11.58,-133.5 -28.33,-194.11z"/>
            <path class="fil0" d="M1955.63 2814.84c15.85,12.85 31.87,25.37 48.68,38.43 0.37,-1.33 1.11,-1.33 2.06,-1.91 3.7,-24.41 5.39,-52 13.58,-75.47 42.7,-51.1 66.38,-97.72 97.88,-157.91 10.62,-8.25 29.28,-7.67 40.11,-18.66 -8.4,-42.91 -11.57,-90.43 -33.03,-128.85 -8.93,9.36 -18.23,18.45 -26.85,27.96 -14.16,0 -11.73,-10.04 -12.31,-23.46 -22.52,0 -21.78,-16.23 -29.81,-34.67 -5.02,0 -7.66,1.85 -11.73,4.65 -38.79,115.95 -88.58,246.28 -88.58,369.89z"/>
            <path class="fil0" d="M4293.77 2861.72c-4.5,-0.95 -8.41,-1.48 -12.85,-2.8 -16.59,12.31 -19.76,11.73 -41.22,8.56 -1.85,8.56 13.79,31.13 17.55,39.74 -1.33,6.88 -3.17,14.54 -3.54,21.99 41.91,-21.09 24.04,-26.85 40.06,-67.49z"/>
            <path class="fil0" d="M4181.19 3838.55c1.85,-2.43 3.17,-4.34 4.65,-6.19l-4.65 0 0 6.19z"/>
            <path class="fil0" d="M4099.59 3038.87c-7.24,18.82 -7.24,37.63 -12.84,55.55 -6.93,0.74 -13.8,1.48 -21.09,3.54 -3.7,19.4 -7.98,39.69 -11.36,59.83 22.2,-1.48 18.81,19.39 18.81,38.63 30.39,-9.35 29.12,-8.24 38.06,-40.11 -33.2,-24.42 -17.55,-26.64 0.37,-66.01 -1.11,-38 -1.11,-38 -0.37,-52.75 -4.13,0.53 -7.67,1.11 -11.58,1.32z"/>
            <path class="fil0" d="M4160.42 3205.77c-35.25,-36.36 -35.25,-36.36 -38.63,-37.68 -14.17,38.79 -4.44,55.76 6.92,96.4 24.42,-16.22 26.64,-31.87 31.71,-58.72z"/>
            <path class="fil0" d="M3615 4023.1c-6.13,27.06 -6.13,27.06 -6.13,36.15 14.32,8.03 25.74,13.42 42.33,16.8 -3.54,-16.8 -25.95,-38.79 -36.2,-52.95z"/>
            <path class="fil0" d="M3867.26 3041.09c6.34,-5.02 18.07,-11.57 20.5,-18.81 -5.81,-5.6 -10.83,-11.05 -16.59,-16.23 -48.31,10.05 -41.75,23.31 -50.53,-33.03 -44.39,5.98 -56.13,14.38 -93.6,41.38 -22.56,7.51 -75.89,-6.13 -100.68,-8.35 -35.25,25.16 -30.23,13.06 -59.88,-17.7 -24.05,-6.18 -24.05,-6.18 -38,-7.51 -11.94,20.14 -0.95,46.25 -13.79,62.47 -36.73,0 -71.99,-2.22 -108.14,-5.23 -15.48,8.4 -30.81,16.07 -45.34,24.47l0 2.01c31.13,24.84 38.79,50 46.82,85.62 7.09,3.7 7.09,3.7 68.76,21.03 17.18,13.64 35.1,27.96 52.43,41.8 53.33,-9.14 94.87,-21.29 146.56,9.46 20.29,-3.91 114.1,-59.24 114.1,-86.3 -5.23,-9.14 -12.52,-17.55 -12.52,-28.54 12.89,-5.76 27.22,-6.87 40.85,-9.51 16.6,-19.19 32.45,-38.58 49.05,-57.03z"/>
            <path class="fil0" d="M4106.46 3994.88c-14.53,-1.48 -19.98,-0.74 -30.39,-10.78 -12.52,4.07 -31.87,38.36 -41.38,49.78 -39.16,21.25 -71.24,55.55 -96.4,93.6 22.73,-11.05 45.66,-22.57 68.6,-33.19 14.9,-21.67 30.02,-43.07 44.92,-63.95 30.97,-7.29 31.13,-13.27 54.65,-35.46z"/>
            <path class="fil0" d="M4274.21 3164.71l6.71 0c3.54,3.7 6.72,8.19 10.26,12.47 0.58,0 1.69,-0.9 2.8,-0.9 8.03,-30.97 -21.46,-33.03 21.46,-44.39 2.8,-10.09 6.13,-45.29 19.02,-45.29 -5.44,-41.23 -16.22,-92.7 -49.04,-117.65 -4.5,49.58 25.73,92.07 -1.48,139.42 -3.02,0 -4.87,0.58 -6.93,1.32 2.06,23.15 2.06,23.15 2.06,39.9 -27.21,22.36 -42.12,28.33 -52.21,61.89 16.01,-15.06 31.34,-31.29 47.35,-46.77z"/>
            <path class="fil0" d="M4197.63 3775.6c1.27,0.74 2.01,1.85 3.12,2.8l4.49 0c-0.37,-1.85 -0.74,-2.8 -0.74,-3.38 -2.06,-1.11 -2.06,-1.11 -6.87,0.58z"/>
            <path class="fil0" d="M4219.09 3881.41l-3.01 0c-5.03,5.6 -9.31,11.41 -13.8,17.33 5.23,-5.92 10.84,-11.73 16.81,-17.33z"/>
            <path class="fil0" d="M4104.82 1947.89c-106.44,-33.93 -106.44,-33.93 -109.98,-37.1 -0.58,-2.22 -0.58,-4.28 -0.58,-6.29 4.12,-4.7 9.14,-4.7 10.25,-10.67 -8.03,-8.93 -9.14,-20.14 -11.57,-31.13 -10.41,-12.69 -20.67,-25.16 -30.55,-37.26l0 14.32c-28.17,18.66 -134.45,26.85 -150.31,50.37 12.68,21.82 24.47,41.22 32.08,65.27 -119.34,8.93 -238.62,23.46 -357.01,44.71 -0.58,0.74 -1.16,1.32 -1.53,2.27 1.53,2.8 3.54,5.92 5.44,8.72 117.28,-16.96 235.08,-34.83 353.84,-41.54 20.88,20.67 55.76,46.4 82.08,57.77 5.18,-4.65 11.36,-9.31 16.59,-13.96 1.27,-33.03 1.27,-33.03 2.96,-35.46l9.52 0c12.84,19.61 25.74,38.63 38.79,58.4 3.54,-4.28 5.6,-4.28 10.99,-4.28 -0.58,-5.81 -0.58,-5.81 -14.37,-33.03 1.85,-43.23 76.26,28.33 84.67,35.04 4.86,0.58 9.3,0.74 13.95,1.53 0,-6.55 1.53,-8.61 5.07,-12.89 -9.72,-8.2 -9.72,-8.2 -13.05,-13.96 0.9,-2.06 2.43,-3.75 3.33,-5.6 13.05,0 25.15,3.91 38.05,7.08 -7.29,-13.63 -24.63,-31.34 -24.63,-46.45 18.45,0 32.82,15.11 46.62,15.11 -7.24,-4.86 -13.8,-10.41 -20.51,-15.11 148.41,5.6 295.7,17.54 435.33,69.39 -6.71,-7.08 -14.16,-15.12 -21.03,-22.94 -15.27,-4.86 -36.73,-11.2 -64.9,-19.02 -122.51,-27.43 -243.7,-35.41 -369.54,-43.29z"/>
            <path class="fil0" d="M4259.57 2947.29l-3.91 0c0.74,0.95 1.69,2.43 2.43,3.54 1.48,-0.74 1.48,-0.74 1.48,-3.54z"/>
            <path class="fil0" d="M3624.04 3977.97c-7.09,10.04 -7.98,16.96 -8.2,28.53 9.36,-26.32 9.36,-26.32 8.2,-28.53z"/>
            <path class="fil0" d="M4259.31 3838.55c-19.56,37.84 -19.56,37.84 -24.21,42.86 6.87,7.29 6.87,14.74 6.87,24.04 5.02,-0.58 10.63,-1.1 16.23,-1.1 0.37,-13.64 -2.22,-39.75 17.91,-36 5.76,-8.03 -2.64,-19.02 -6.34,-27.42 -3.01,-0.9 -6.71,-1.48 -10.46,-2.38z"/>
            <path class="fil0" d="M4211.05 3255.93c11.74,10.46 13.22,15.33 17.5,30.76 0.21,-0.37 0.95,-0.9 2.06,-0.9 0.58,-9.88 0.58,-19.4 1.85,-28.75 -10.25,-5.02 -10.25,-5.02 -18.66,-6.29 -0.74,1.27 -1.11,3.7 -2.75,5.18z"/>
            <path class="fil0" d="M3611.51 3971.83c4.44,-4.49 4.44,-4.49 8.19,-9.88 -6.71,-10.83 -14.16,-20.72 -20.72,-30.97 0.96,7.45 0.96,7.45 12.53,40.85z"/>
            <path class="fil0" d="M3357.82 3628.42c17.92,-0.9 36.52,-1.64 55.02,-2.75 -2.43,-0.58 -64.9,-30.23 -55.02,2.75z"/>
            <path class="fil0" d="M3666.74 3729.73c2.22,3.54 2.43,9.51 0,13.63 -5.97,0.96 -11.94,1.48 -18.29,3.18 -3.54,6.13 -7.61,13.05 -10.78,20.13 5.18,8.4 13.58,14.9 20.88,21.09 0.9,11.73 1.48,23.09 2.22,35.94 20.5,-7.98 40.64,-16.6 61.52,-21.41 38.42,33.19 44.55,34.67 51.84,81.44 9.89,-5.18 19.19,-10.62 29.28,-15.43 8.78,-26.69 -65.48,-66.75 -79.8,-75.73 -0.37,-8.93 4.49,-14.17 4.49,-22.57 -24.47,-13.42 -31.55,-18.44 -45.5,-42.28 -5.82,0.37 -10.63,1.27 -15.86,2.01z"/>
            <path class="fil0" d="M3761.98 3802.93c7.24,-20.67 40.8,-46.41 40.8,-66.33 -60.2,-39 -46.62,-44.24 -107.39,-16.23 0,22.94 31.71,36.15 48.3,44.56 0,28.32 -17.7,14.9 18.29,38z"/>
            <path class="fil0" d="M2734.44 3154.99c-8.77,0.52 -22.19,-3.92 -27.43,-3.18 38.64,55.92 81.29,98.78 92.86,166.48 6.72,3.75 13.27,7.08 19.77,11.36 33.4,-11.15 38.58,-29.27 73.09,-19.18 -2.8,-54.07 -52.58,-84.82 -63.58,-141.69 -8.4,-5.6 -16.01,-11.2 -23.3,-16.81 0,-19.02 12.1,-14.32 -3.54,-30.17 -16.76,0.37 -33.93,1.11 -50.74,2.06 -9.09,18.97 -9.09,18.97 -17.13,31.13z"/>
            <path class="fil0" d="M3044.89 3309.62c0,-5.97 0,-12.31 0.95,-18.44 -14.95,-2.06 -29.28,-3.91 -43.07,-5.44 -27.96,-23.31 -28.91,-39.48 -61.52,-25.69 9.3,35.2 7.61,32.24 -8.98,65.06 31.13,9.88 36.36,-13.42 63.42,-13.42 1.27,11.52 2.59,23.3 4.07,35.25 20.35,-0.43 40.27,-0.43 60.62,-0.95 2.96,-21.62 -0.58,-22.78 -15.49,-36.37z"/>
            <path class="fil0" d="M2805.9 3108.42c28.7,18.66 15.85,20.14 15.85,40.7 23.31,16.01 21.62,26.64 27.59,54.59 31.71,42.92 55.02,59.67 56.5,112.41 2.22,0.59 4.86,1.7 7.82,3.18 2.06,-1.11 4.13,-2.22 7.46,-2.59 4.65,-8.94 10.25,-17.92 15.11,-26.64 -11.57,-35.09 -16.75,-33.19 18.66,-49.41 0,-16.97 -9.36,-22.78 9.67,-25.58 -7.98,-5.55 -21.04,-10.63 -25.53,-14.91 -5.23,-25.52 -10.83,-50.15 -15.27,-73.99 -17.34,-5.07 -34.88,-10.25 -51.85,-15.32 -0.95,-2.59 -2.43,-5.39 -3.54,-7.98 -53.54,-20.51 -55.92,-7.67 -38.58,-62.68 -11.79,-2.59 -22.94,-5.61 -34.3,-5.61 -10.1,24.26 -20.35,48.89 -30.39,73.68 13.58,0 27.59,0 40.8,0.15z"/>
            <path class="fil0" d="M3027.77 3248.9c-2.96,-13.05 -15.65,-26.48 -22.57,-37.63 -7.45,2.43 -14.53,4.65 -20.87,7.24 0,1.53 -0.9,2.43 -1.48,4.49 9.14,8.57 19.18,18.08 28.54,27.01 5.23,-0.37 10.41,-0.74 16.38,-1.11z"/>
            <path class="fil0" d="M3178.92 3227.23c0,-0.95 -0.74,-1.69 -0.74,-2.43 -38.74,-10.99 -69.34,-41.96 -104.96,-16.59 -25.37,4.49 -11.15,-23.31 -54.07,-3.76 -0.37,1.32 -0.74,3.17 -1.11,5.08 8.78,13.42 28.17,31.5 28.17,47.51 -8.4,5.39 -29.65,5.39 -39.37,5.39 -7.45,-7.24 -29.44,-32.77 -39.53,-32.77 9.72,31.66 44.02,45.82 73.67,48.25l7.08 0c0.74,-2.43 2.06,-5.39 2.43,-7.45 2.81,-1.85 2.81,-1.85 68.45,-12.1 19.55,-10.62 39.85,-21.09 59.98,-31.13z"/>
            <path class="fil0" d="M3712.19 3966.44c6.71,3.7 11.36,6.5 16.44,13.8 26.64,-20.72 53.7,-41.81 81.28,-62.31 0.53,-13.58 1.48,-26.06 2.22,-38.95 -9.88,4.12 -9.88,4.12 -32.08,17.17 -65.43,8.2 -82.39,4.28 -67.86,70.29z"/>
            <path class="fil0" d="M3584.08 3838.55c21.41,27.58 21.41,31.13 14.32,65.8 4.65,9.88 4.65,9.88 33.41,51.26 12.31,-29.07 37.26,-16.6 61.67,4.28l3.17 0c-10.41,-63.21 6.93,-68.6 63.06,-73.83 2.21,-36.52 -15.86,-47.51 -39.38,-68.6 -23.68,3.54 -45.66,21.09 -69.5,21.09 -6.55,-12.32 -2.64,-31.34 -6.55,-45.88 -31.71,-27.06 -58.19,12.48 -60.2,45.88z"/>
            <path class="fil0" d="M3658.07 4084.56c1.85,-0.9 3.54,-1.32 5.23,-1.32 -3.38,-2.22 -3.38,-2.22 -6.71,-2.22 0.37,0.95 1.32,2.22 1.48,3.54z"/>
            <path class="fil0" d="M3885.39 3756.52c-11.21,4.13 -47.78,19.03 -29.65,33.19 3.91,0 7.24,-0.74 10.99,-0.74 9.88,-11.52 14.69,-19.02 18.66,-32.45z"/>
            <path class="fil0" d="M3811.82 3847.48c0.21,4.86 0.21,4.86 12.52,25.74l0 49.04c-2.27,2.59 -2.27,2.59 -80.54,63.37 0,1.16 24.2,4.28 31.65,6.34 1.91,5.97 1.91,5.97 3.18,14.38 5.97,-5.98 5.97,-5.98 12.52,-16.02 32.4,2.75 51.06,-33.4 73.46,-54.12 -5.97,-22.72 -11.41,-45.29 -16.59,-67.64 -12.16,-6.93 -24.47,-14.17 -36.2,-21.09z"/>
            <path class="fil0" d="M3733.17 4164.1c4.65,-0.37 11.37,-1.11 13.22,-6.92 -16.02,-17.12 -17.13,-21.83 -17.87,-45.5 -22.41,-18.45 -43.81,-30.55 -65.85,-11.74 21.46,42.92 25.21,48.47 70.5,64.16z"/>
            <path class="fil0" d="M2039.35 2427.14c3.17,-2.22 6.13,-5.24 9.67,-7.3 -1.32,-4.44 -2.59,-8.35 -3.54,-13.05l-1.69 0c-1.48,6.55 -3.33,13.63 -4.44,20.35z"/>
            <path class="fil0" d="M3312.69 2040.86c-12.47,-4.13 -101.26,45.66 -116.54,52.95 -110.72,57.98 -216.48,123.99 -325.35,185.87l0 19.98c-18.66,13.8 -37.84,27.96 -55.92,42.49 -8.03,30.6 -12.52,37.32 -42.7,37.32 -30.97,48.99 -30.97,48.99 -31.5,52.53 39.32,13.79 39.32,13.79 42.49,16.43 38.21,-12.89 97.51,-101.63 134.62,-137.99 0.95,-2.06 0.95,-4.07 2.64,-7.08 -17.55,-2.22 -16.97,-6.71 -29.65,-13.79 0,-2.22 0,-3.7 0.37,-4.65 134.61,-85.78 275.35,-170.76 423.23,-231.01 2.06,-4.49 0,-8.03 -1.69,-13.05z"/>
            <path class="fil0" d="M2976.08 2449.81c-1.9,-4.12 -1.9,-4.12 -5.23,-7.66 -3.54,3.91 -6.93,8.93 -8.78,13.42 11.74,-3.91 11.74,-3.91 14.01,-5.76z"/>
            <path class="fil0" d="M3130.3 2169.33c0.95,-0.74 1.69,-1.26 3.17,-1.85 -3.17,-0.74 -6.5,-1.69 -9.88,-2.59l0 3.18c1.85,0.52 3.91,0.52 6.71,1.26z"/>
            <path class="fil0" d="M2891.84 1951.86c1.69,1.85 3.75,4.65 5.07,7.45 3.91,-2.8 3.91,-2.8 5.6,-6.56 28.86,2.65 58.35,5.03 87.63,7.83 3.17,4.7 3.17,4.7 4.07,13.42 6.55,1.16 6.55,4.7 5.6,11.42 8.93,-1.33 8.93,-1.33 21.83,-6.56 1.85,1.11 3.7,2.43 5.23,3.91l0 7.67c18.08,0 27.01,-21.09 32.98,5.39 22.36,-13.8 40.64,3.91 63.21,14.37 1.11,-1.9 2.43,-3.54 3.91,-5.97l8.03 0c6.87,10.41 8.2,18.45 21.04,24.05 1.53,-2.96 2.8,-6.93 4.28,-10.26 -8.93,-5.39 -23.1,-13.79 -17.71,-25.73 9.89,0 17.18,2.8 26.32,6.34 1.64,-7.45 1.64,-7.45 3.18,-9.3 11.89,1.11 23.09,-0.95 36.15,0.9 -1.11,5.23 -2.07,10.62 -2.96,16.43 39.32,-15.48 67.28,-3.54 109.61,3.54 1.48,-3.54 3.75,-6.71 5.97,-9.88 -3.17,-2.27 -3.17,-2.27 -97.51,-21.46 0,-6.13 5.76,-6.87 10.78,-9.3 -5.02,-3.38 -10.04,-6.34 -15.06,-9.72 0,-19.93 31.87,-5.61 44.92,-30.55 -2.43,-5.97 -3.91,-8.03 -3.91,-13.79 16.6,0 65.27,49.78 83.14,64.84 3.75,-1.64 8.03,-4.07 11.73,-6.34 -16.75,-14.53 -33.56,-28.7 -50.31,-42.65 7.66,-2.06 14.37,-3.17 21.45,-4.86 0,-1.11 -0.74,-3.17 -0.74,-5.23 4.44,-3.76 7.83,-3.76 14.33,-3.33 0,-2.8 0.74,-7.14 0.74,-10.31 9.35,-2.22 14.53,1.69 22.93,4.7 0.59,-0.74 1.33,-1.53 2.07,-1.69 -4.29,-1.32 -5.77,-4.12 -7.67,-7.29 -5.39,-0.74 -10.78,-0.74 -15.64,-0.74 -1.69,-3.33 -2.43,-8.77 0.74,-12.1 -9.67,-16.23 -13.96,-13.8 -12.69,-34.3 3.02,-2.43 6.72,-4.49 10.26,-6.34 0,-3.55 0,-3.55 -3.91,-12.69 -6.35,5.97 -12.69,5.39 -21.62,5.6 -2.22,4.28 -4.28,8.94 -6.55,13.43 4.86,2.59 9.72,5.23 15.11,8.03 0,3.54 0.37,5.76 0.95,9.46 -19.18,7.08 -21.82,7.88 -29.86,24.47 13.06,3.33 10.1,12.47 10.25,24.21 -15.43,10.09 -69.34,-30.39 -36.3,-59.67 -11.58,-2.8 -25.37,-0.53 -35.1,-6.5l0 -9.15c3.54,-1.69 7.45,-3.91 11.21,-5.6 -17.55,-5.23 -33.19,6.56 -51.48,7.82 -150.47,-92.85 -312.09,-189.04 -492.2,-201.72 -10.63,5.44 -21.62,9.88 -31.87,15.48 177.47,-5.23 358.17,92.28 500.23,186.98 -2.8,0.8 -2.8,0.8 -55.01,-16.59 -9.68,-13.42 -9.68,-13.42 -11.74,-13.79 -11.94,11.78 -35.41,9.35 -50.36,3.75 -1.48,-3.75 -2.22,-6.56 0,-9.73 -2.22,-1.26 -23.47,0 -27.75,-1.26 0,-11 1.48,-16.6 5.76,-26.69 -48.31,-41.17 -145.82,-20.14 -197.24,3.54 0,9.72 33.56,0.58 33.56,23.52 9.51,3.54 19.4,8.19 29.44,12.68 -0.37,7.98 -1.32,15.06 -5.23,21.61 2.8,2.22 4.86,4.5 8.03,6.72 0,1.85 0,4.28 0.16,6.71 -4.65,5.39 -13.59,5.39 -17.13,11.36 3.54,7.66 8.04,14.75 12.48,21.99 4.49,0.37 10.09,0.79 15.11,1.69 8.41,13.05 -7.66,16.06 -17.54,20.13 -2.01,6.72 -3.7,13.64 -5.92,21.09 -210.72,-8.98 -429.05,-18.29 -632.47,47.35 -2.59,0.53 -4.65,2.07 -7.46,2.81 -8.4,9.3 -17.49,18.44 -26.1,28.32 200.46,-93.59 460.54,-75.31 671.95,-63.36zm64.74 -13.27c0.16,1.48 0.9,3.17 1.85,4.86l-8.41 0c-2.58,-0.74 -3.69,-1.69 -6.13,-2.06 4.44,-1.85 7.61,-3.17 12.69,-2.8zm-22.41 -12.1c0.74,5.23 2.06,10.25 2.64,15.27l-2.64 0c-7.08,-0.37 -13.05,-0.37 -19.4,-1.11 5.61,-8.19 8.99,-18.07 19.4,-14.16z"/>
            <path class="fil0" d="M3367.97 1757.42c2.27,-7.82 4.12,-14.9 -0.16,-21.61 -13.26,-1.91 -13.26,-1.91 -25.95,-0.96 5.98,7.09 17.55,16.97 17.55,26.85l8.56 -4.28z"/>
            <path class="fil0" d="M3335.42 1834.9c1.9,-2.43 3.91,-5.02 5.97,-7.66 30.23,-9.15 -6.71,-4.07 -19.93,-4.07 5.98,4.65 11.74,4.65 13.96,11.73z"/>
            <path class="fil0" d="M2838.4 1647.12c-2.96,0.95 -5.76,2.06 -8.56,3.54 5.6,2.07 5.6,2.07 7.29,3.92 0.16,-2.22 1.11,-5.4 1.27,-7.46z"/>
            <path class="fil0" d="M3387.74 1795.31c-3.33,0 -5.97,0.53 -8.19,0.53 1.85,2.06 3.75,3.39 5.6,5.24 0.74,-0.59 1.48,-1.33 2.59,-1.33l0 -4.44z"/>
            <path class="fil0" d="M2530.12 2977.99c-1.11,0 -1.11,0 -6.34,6.71 -74.41,2.59 -59.3,-67.12 -102.53,-107.23 -16.81,-3.33 -36.2,-2.8 -43.66,-20.29 -15.85,4.44 -29.43,-10.47 -41.22,-20.14 2.27,-5.81 2.27,-5.81 16.96,-25.95 3.6,1.69 5.24,2.43 7.67,6.55 1.85,-7.29 2.8,-14.53 4.49,-21.98 -10.09,-8.62 -19.4,-16.44 -29.12,-24.26 -7.24,-29.81 -10.99,-33.56 -37.47,-48.83 -27.75,9.67 -26.64,23.3 -36.15,51.26 1.32,5.23 2.8,14.17 0,18.66 1.85,0.53 3.91,0.74 5.6,1.11 0.16,-13.27 0.16,-16.81 14.32,-15.49 4.71,-9.14 9.89,-17.7 14.01,-26.85l9.67 0c3.38,5.24 1.53,12.85 1.53,19.4 5.61,-1.32 11.74,-2.64 17.5,-3.75 8.03,8.61 12.68,23.67 16.59,34.67 -47.35,67.7 -91.17,137.83 -134.61,208.49 -1.85,-1.9 -1.85,-1.9 -12.47,-29.12 -28.54,50 -55.92,99.41 -84.46,149.14 2.06,4.5 2.06,4.5 98.04,139.69 5.97,0.74 12.31,1.26 18.87,2.43 7.82,-55.97 13.79,-114.48 25.74,-168.96l9.09 0c0.58,22.93 0.58,22.93 -1.27,55.75 6.5,-4.28 14.53,-13.95 23.83,-9.51 -2.06,13.26 -6.13,17.33 -14.16,28.38 0.58,21.03 0.58,21.03 12.68,142.43 -1.32,22.36 -7.08,62.47 -8.19,81.07 6.87,38.79 14.17,77 22.36,115.8 42.33,7.82 70.87,15.64 83.56,62.46 15.06,-6.55 30.54,-16.22 47.51,-19.39 42.12,19.39 78.32,35.41 124.36,43.65 75.89,-32.45 -41.97,-100.52 -63.37,-118.06 -2.27,-50.9 -5.97,-104.59 -12.31,-155.28 -57.82,-38.21 -74.05,-115.42 -96.99,-175.99 -9.83,-4.12 -19.55,-6.92 -28.69,-10.25 3.17,7.82 4.49,12.1 4.49,19.55 -15.86,4.13 -35.04,10.05 -51.85,10.05 -5.97,-10.05 -5.97,-10.05 -17.49,-35.94 8.72,-27.22 8.72,-27.22 7.98,-29.65 -16.39,3.91 -39.54,-39.9 -46.62,-53.54 -4.65,-3.7 -17.7,-9.3 -30.39,-16.59 -9.14,-28.7 73.47,-136.09 79.07,-146.19l4.12 0c5.18,6.56 4.81,8.25 4.81,16.07 -2.38,0.9 -4.65,1.11 -6.71,2.06 3.38,9.14 7.08,18.45 10.46,27.75 36.73,11.36 19.77,12.89 34.88,45.87 15.65,8.4 31.29,16.81 46.99,24.63 51.05,2.59 85.2,54.59 130.49,79.96 21.98,-33.56 23.15,-40.8 20.72,-82.02 1.26,-0.74 2.43,-1.48 4.81,-2.59 -6.13,-8.99 -11.53,-17.76 -17.13,-25.74z"/>
            <path class="fil0" d="M2539.58 2954.9c-9.88,21.82 50.37,58.92 16.07,61.88 1.48,17.92 -2.43,41.6 9.88,54.44 0,-14.32 -4.12,-38.95 4.65,-50.68 5.39,0 20.72,6.71 22.94,5.23 -18.44,-31.55 -36.57,-62.47 -54.65,-93.6 0.21,7.24 1.11,14.9 1.11,22.73z"/>
            <path class="fil0" d="M2512.47 3098.96c-17.71,-10.25 -22.88,-13.79 -42.49,-12.31 -28.54,43.65 -22.36,36.36 -77.38,40.48 -8.4,44.93 33.41,108.66 49.21,150.04 12.68,14.01 25.95,27.8 39.16,42.18l2.64 0c1.48,-5.97 1.48,-6.92 6.35,-9.73 2.95,0.74 5.91,1.7 8.35,3.02 0.95,-44.77 -4.66,-89.69 -4.66,-133.87 25.53,-33.03 23.31,-36.57 18.82,-79.81z"/>
            <path class="fil0" d="M2608.08 3051.03c-5.39,-9.88 -17.13,-9.88 -27.59,-13.42l0 37.99c69.18,12.69 69.18,12.69 76.63,14.75l2.43 0c-6.18,-25.16 12.48,-41.38 25.37,-61.36 0,-17.7 0,-17.7 -4.7,-78.11 -7.45,-1.11 -7.08,-7.82 -13.42,-10.99 -7.99,7.08 -15.28,14.74 -22.36,21.98 -1.48,46.62 19.55,94.92 -36.36,89.16z"/>
            <path class="fil0" d="M2769.49 2360.86c29.27,-22.56 58.92,-44.34 88.57,-66.75 0.16,-9.14 0.16,-9.14 -1.32,-15.27 -43.6,-18.66 -52,6.87 -95.29,6.87 -14.16,-8.19 -27.01,-16.01 -40.27,-23.84 -1.85,17.71 -1.48,10.84 -15.64,10.84 -12.48,13.95 -24.79,28.48 -37.26,42.49 -17.92,1.85 -35.47,4.49 -52.06,6.34 -25.9,22.36 -51.43,43.81 -76.64,66.17 35.84,32.08 35.99,-14.16 76.27,-14.16 10.25,7.29 18.86,7.29 30.76,7.29 1.32,-3.54 3.17,-7.29 5.07,-10.25 -8.98,-4.34 -12.16,-5.45 -12.16,-15.33 47.73,-33.72 102.96,-1.64 148.41,-25.69 3.17,-0.21 6.55,-0.95 8.77,-0.95 0,0.74 0.95,0.95 1.48,1.69 -36.73,26.64 -75.31,53.7 -114.47,77.38 -9.09,21.03 -24.79,33.93 -44.19,48.46 0,16.23 22.78,46.03 31.13,60.2 -4.65,8.61 -17.12,11.78 -20.29,19.39 23.83,-6.34 46.98,-13.58 70.29,-19.76 17.49,-32.82 4.49,-51.06 1.48,-85.73 16.6,-10.46 36.73,-52.05 47.36,-69.39zm-50.32 140.58c-2.64,0 -4.49,0.74 -6.92,0.95 -48.1,-44.76 -48.1,-44.76 -49.05,-46.82 39.53,-43.07 54.28,2.06 57.98,41.8 -0.53,1.11 -1.48,2.38 -2.01,4.07z"/>
            <path class="fil0" d="M2869.43 2380.52c2.43,0.37 5.02,1.53 6.55,1.9 8.35,20.67 15.8,41.76 24.05,62.42 13.79,-0.74 20.29,-0.74 30.02,-9.3 -1.54,-22.2 -4.34,-86.31 -16.23,-98.09 -15.85,3.75 -33.19,28.91 -44.39,43.07z"/>
            <path class="fil0" d="M3458.88 1758.8c-3.54,-0.59 -7.09,-1.33 -10.26,-1.33 1.11,3.02 2.06,6.93 2.43,10.47 3.7,-1.11 7.3,-1.9 10.84,-2.06 -1.32,-2.43 -2.27,-4.65 -3.01,-7.08z"/>
            <path class="fil0" d="M2370.88 3136.22c0.42,-6.5 0.42,-6.5 -1.85,-19.18 -9.88,-3.54 -20.13,-7.45 -29.81,-11.21 -0.58,-8.56 -1.48,-17.49 -1.48,-26.84 -33.03,21.08 -43.07,47.19 -27.06,82.02 9.52,-2.22 19.4,-4.65 29.28,-6.34 -3.54,-7.98 -6.55,-15.06 -9.35,-22.73 0.58,-2.22 2.06,-4.49 2.8,-5.76 19.98,4.07 19.98,4.07 37.47,10.04z"/>
            <path class="fil0" d="M3442.65 1856.83c0.37,-0.37 1.32,-0.74 2.22,-1.32 -1.85,-0.37 -3.7,-0.74 -4.86,-0.74 0.95,0.37 1.32,1.32 2.64,2.06z"/>
            <path class="fil0" d="M2969.05 1584.65c16.23,-3.38 34.3,-13.42 49.79,-19.97 -4.28,0 -4.28,0 -49.79,19.97z"/>
            <path class="fil0" d="M2936.28 1636.13c1.69,1.11 3.39,2.01 5.24,3.33l0 7.66c-3.55,2.22 -6.14,4.44 -9.31,6.72 19.77,-4.13 42.5,-11.58 62.84,-11.58 2.81,3.54 0.9,8.4 4.65,11.95 14.91,1.32 29.44,2.43 44.4,3.69 4.07,-19.76 33.14,-50.68 52.16,-31.86 6.93,-2.96 16.23,-8.94 23.15,-2.96l0 6.13c5.24,1.11 12.69,0 17.71,4.65 -0.74,3.01 -0.74,5.6 -0.74,8.77 27.01,-1.32 54.22,-3.17 81.65,-4.49 -0.37,-2.75 -0.58,-5.92 -0.58,-8.93 -4.44,-1.69 -31.66,-12.11 -14.69,-19.4l0 -2.59c-12.16,-3.75 -33.4,-3.54 -33.4,-18.44 9.51,-5.82 19.02,-10.63 28.7,-15.49 -53.49,-16.59 3.54,-25.37 31.18,-32.08 5.76,1.85 5.76,1.85 32.24,21.62 9.14,1.9 9.14,1.9 136.67,8.61 -0.58,27.38 -0.95,54.6 -0.95,82.4 -13.43,0.37 -26.48,1.69 -38.95,2.21 24.2,6.72 24.2,6.72 26.11,8.78 0,5.97 0,5.97 -1.91,8.93 -10.25,0.74 -19.55,1.69 -29.22,3.01 5.02,7.45 10.04,15.06 15.27,22.2 5.02,0 9.14,-4.33 12.84,-7.14 5.45,1.33 9.73,5.45 14.75,9.36 0,148.19 0,148.19 -1.69,170.6 -5.76,-0.58 -11.95,-1.69 -17.71,-2.43 -1.85,-2.59 -3.17,-5.23 -4.65,-7.3 -4.65,2.44 -4.65,2.44 -4.86,5.61 5.6,6.71 12.31,13.26 18.81,20.5 3.97,-0.74 5.82,-1.11 8.41,-4.28 0.21,27.8 0.95,55.76 1.69,83.35l13.21 0c0.21,-79.07 0.95,-157.18 2.06,-235.29 2.65,2.06 5.24,4.65 7.82,7.29 3.92,-5.23 9.52,-8.61 9.52,-14.96 -10.41,-9.67 -17.87,-12.47 -17.87,-27.21 15.28,-12.85 20.67,-21.62 36.89,-7.24 0.59,-1.17 1.33,-1.7 2.07,-2.28 33.71,2.28 53.11,5.61 79.8,25 31.71,-16.22 32.08,-27.8 49.95,1.48 13.05,8.62 63.79,8.62 48.51,28.91 20.14,11.94 39.69,24.26 60.57,36.36 -5.39,5.23 -5.39,5.23 -40.27,28.54 -9.89,-4.65 -51.48,0.16 -67.7,3.33 12.89,15.33 17.75,16.81 38.42,17.92 -20.51,15.27 -174.68,123.61 -174.68,145.07 7.83,2.01 7.83,2.01 11.37,4.81 79.06,-68.02 159.4,-129.22 245.54,-189.05 0,5.98 0.37,11.58 0.37,16.97 70.3,10.25 68.98,3.17 101.06,66.96 28.17,4.81 116.69,-32.45 147.5,-41.96 -2.8,-14.75 -5.23,-28.7 -7.66,-43.08 -3.38,-0.74 -7.29,-2.59 -9.88,-3.01 -1.85,-18.97 -24.42,-20.29 -24.42,-35.78 23.1,-23.09 23.1,-28.33 23.1,-61.89 -90.06,-38.42 -181.02,-76.42 -271.45,-114.84 -197.66,-31.87 -427.72,-95.08 -624.8,-16.22 1.84,1.48 3.91,2.8 5.81,5.23l0 5.76c-48.89,35.62 -119.71,39.16 -162.62,86.67 2.64,0.8 2.64,0.8 57.97,-18.6zm475.82 -63.95c3.02,0.74 7.3,1.11 11.95,1.85 3.01,4.49 3.01,4.49 5.02,14.75 50.89,9.09 9.72,37.63 -16.97,47.35l0 -63.95zm0 65.06c8.62,2.06 8.62,2.06 13.64,5.02 -0.74,11.95 -2.64,10.47 -13.64,10.84l0 -15.86z"/>
            <path class="fil0" d="M3930.78 1758.8c3.55,-4.87 5.18,-7.09 11.74,-7.09 -2.65,-9.88 -2.65,-9.88 -4.28,-11.94 -8.62,7.29 -17.92,11.57 -7.46,19.03z"/>
            <path class="fil0" d="M3940.14 1675.5c-1.85,-2.8 -5.02,-5.55 -6.87,-7.82 8.19,-3.91 16.96,-9.14 26.11,-7.98 7.61,-15.85 43.6,-6.71 57.02,-7.29 -5.02,-2.8 -9.14,-4.86 -13.42,-6.93 13.42,-3.91 27.8,-5.76 41.59,-7.24 -7.66,-3.91 -15.85,-7.29 -23.67,-11.2 -14.75,2.8 -29.65,6.18 -44.56,8.98 -185.72,-75.36 -365.25,-111.14 -564.18,-122.5 0,-7.66 0.37,-16.07 0.74,-24.05 -4.87,0 -9.36,-0.58 -13.64,-0.58 -1.11,8.03 -1.11,16.97 -1.11,24.63 -8.56,0 -17.12,0 -25.9,0.9 98.04,15.32 195.39,30.76 293.86,46.98 271.07,114.1 271.07,114.1 274.03,114.1zm-4.07 -25.52c-4.65,2.43 -8.19,3.75 -12.31,5.97 3.17,-8.03 4.12,-6.92 12.31,-5.97z"/>
            <path class="fil0" d="M3956.95 1691.83c-10.47,-12.1 -10.47,-12.1 -12.69,-10.78 0.74,12.11 1.11,24.42 1.27,36.52 2.64,-0.53 4.7,-0.74 6.71,-1.11 -1.64,-9.3 -1.64,-9.3 -0.74,-21.82 1.69,-1.48 3.75,-2.01 5.45,-2.81z"/>
            <path class="fil0" d="M3303.86 1653.78c6.72,2.27 14.17,4.49 21.46,6.93 4.44,-1.85 5.39,-6.56 7.24,-10.84 -9.67,1.16 -19.39,2.8 -28.7,3.91z"/>
            <path class="fil0" d="M3319.08 1709.01c6.14,-13.79 19.03,-20.88 29.81,-30.02 -18.07,0 -33.19,0.74 -48.25,9.88 7.08,6.72 10.78,16.07 18.44,20.14z"/>
            <path class="fil0" d="M3325.32 1803.08c9.36,-3.38 9.36,-3.38 23.68,-4.12l0 -2.06 -26.85 0c0.74,2.8 0.74,2.8 3.17,6.18z"/>
            <path class="fil0" d="M3093.78 1716.46l0 11.58c17.34,0 96.98,-12.69 96.98,17.7 18.08,1.32 60.57,-3.38 72.14,11.73 15.49,0 28.33,-11.36 44.77,-11.36 3.7,7.29 7.24,15.12 11.36,22.73 4.49,-0.9 8.41,-2.8 12.69,-3.91 -0.96,-10.26 -1.85,-21.25 -2.81,-31.29 -3.54,-1.69 -3.54,-1.69 -33.77,-3.75 -37.47,13.79 -69.13,-1.11 -102.69,-20.14 0,-8.77 7.46,-11.36 7.46,-19.03 -2.65,-0.89 -4.87,-2.59 -7.46,-4.06 -0.79,-1.91 -0.79,-3.76 -0.79,-5.61 -37.84,-10.99 -62.05,-8.19 -101.05,-3.38 0,2.06 -0.53,3.91 -0.53,6.55 62.26,18.29 62.26,18.29 63.74,19.93 0,6.71 0,6.71 -1.48,9.14 -20.3,1.32 -39.16,2.06 -58.56,3.17z"/>
            <path class="fil0" d="M3602.79 1755.73c-2.06,-3.91 -4.28,-8.4 -5.81,-12.16 -32.03,-9.67 -59.83,-1.63 -90.8,-19.76 -3.91,1.53 -7.61,3.17 -12.11,4.7 -0.15,1.48 -0.15,2.59 -0.15,4.07 16.96,10.99 15.8,12.16 18.44,34.67 5.97,-4.65 11.58,-10.78 19.56,-10.78 4.12,6.13 4.12,13.21 5.6,21.62 13.05,1.32 34.3,-0.74 40.11,12.68 7.45,-0.95 7.45,-0.95 12.26,-2.59 -2.74,-2.43 -4.81,-3.96 -7.24,-5.6l0 -6.93c2.43,-1.69 4.5,-3.33 7.24,-4.86 -7.24,-3.54 -14.9,-7.08 -22.35,-10.62 0,-2.8 0.74,-5.18 0.95,-7.45 8.19,-6.71 25.16,0.58 34.3,3.01z"/>
            <path class="fil0" d="M3493.92 1822.16l3.17 0 0 -8.4c-2.22,-0.95 -4.07,1.11 -5.6,3.33 0.79,1.53 1.53,3.01 2.43,5.07z"/>
            <path class="fil0" d="M3530.44 1834.9c2.22,-0.21 4.28,-0.74 6.71,-0.74 -1.11,-0.58 -1.11,-1.69 -1.48,-2.8 -3.38,-0.74 -7.08,-1.48 -10.25,-2.43 1.32,1.69 3.17,4.12 5.02,5.97z"/>
            <path class="fil0" d="M2436.21 2420.85c-3.92,22.77 -9.89,42.33 -17.87,63.58 7.98,51.31 -3.54,54.06 19.93,101.63 2.43,-0.96 5.97,-0.96 8.93,-1.33 -16.6,-43.81 -4.07,-77.16 2.06,-125.09 24.05,-19.03 45.66,-28.7 50.16,-60.78 -2.07,-1.48 -2.44,-2.06 -3.33,-2.96 -13.27,0 -40.65,21.78 -59.88,24.95z"/>
            <path class="fil0" d="M2372.78 2611.69c0,-12.47 -5.23,-30.92 -5.44,-45.82 -5.55,10.99 -9.67,24.41 -22.51,26.47 -5.08,15.28 -15.7,35.57 -15.7,50.9 1.48,0.53 3.17,1.64 4.28,2.96 12.68,-2.8 30.02,-25.9 39.37,-34.51z"/>
            <path class="fil0" d="M2558.98 2333.54l0 -2.27c-16.6,-7.83 -31.13,9.51 -42.7,17.91 20.13,-1.32 26.31,-2.8 42.7,-15.64z"/>
            <path class="fil0" d="M2460.99 2739.95c13.43,-37.47 22.41,-46.61 4.34,-82.6 -25,-31.5 -38.27,-65.06 -56.71,-101.58 -10.63,-0.37 -10.63,-0.37 -21.99,2.43 1.48,37.63 1.48,37.63 3.33,49 19.4,22.19 -13.42,60.61 -13.42,88.57 14.95,21.99 29.65,44.18 44.18,65.8 13.64,-7.24 26.48,-14.32 40.27,-21.62z"/>
            <path class="fil0" d="M2468.44 2357c-24.99,-3.54 -44.34,14.38 -63.58,26.69 -7.24,25.53 -8.56,27.8 -31.65,41.23 -0.43,21.24 3.12,32.97 -10.31,48.62 7.51,44.76 7.51,44.76 8.4,62.31 -5.23,2.22 -10.62,5.02 -15.85,7.61l0 7.82c3.75,1.69 7.45,3.38 11.2,5.07l0 3.17c1.32,0 3.76,-13.42 5.61,-15.32 9.88,-1.27 20.13,-2.22 30.91,-3.33 8.25,-10.47 8.25,-10.47 9.52,-15.27 -7.24,-33.78 -3.33,-83.35 11.94,-115.06 40.49,-9.51 53.17,-14.37 72.72,-49.57 -10.25,5.02 -18.28,11.36 -30.17,11.36 -2.06,-7.08 -1.91,-9.14 1.26,-15.33z"/>
            <path class="fil0" d="M2462.47 2464.98c-13.42,37.89 -16.22,80.91 -0.95,117.85 42.92,-6.71 42.92,-6.71 50.9,-9.51 11.41,-16.38 29.28,-43.81 46.82,-52.96 11.37,9.15 33.35,29.49 45.51,7.09 -5.82,-15.28 -12.16,-31.13 -18.13,-46.25 -10.25,1.53 -35.2,24.84 -35.2,3.38 -5.6,0 -10.99,-0.74 -16.59,-0.74 -13.06,-21.08 -3.39,-39.37 -37.32,-46.82 -11.15,9.14 -23.09,18.5 -35.04,27.96z"/>
            <path class="fil0" d="M2623.14 2788.26c-8.03,-19.03 -8.03,-19.03 -32.24,-66.38 5.76,-46.61 22.52,-61.31 -28.01,-67.65 -6.5,-8.4 -6.5,-8.4 -43.81,-66.22 -17.87,2.27 -35.41,4.33 -52.96,6.71 -2.38,9.73 -7.98,9.73 -17.49,11.95 3.54,29.65 44.18,50.73 44.18,86.14 -5.6,15.28 -17.18,35.41 -17.18,51.27 7.88,4.49 14.38,7.08 19.24,14.9 -15.86,21.46 6.34,21.09 11.94,40.48 11.53,4.13 25.53,6.13 41.92,14.17 24.25,-8.41 48.67,-17.18 74.41,-25.37z"/>
            <path class="fil0" d="M2344.77 2723.47c12.11,-8.2 12.11,-8.2 19.72,-16.02 -1.64,-1.69 -3.33,-3.38 -4.65,-4.49 0,-23.89 17.7,-59.67 24.41,-82.97 -26.63,8.77 -47.88,49.99 -56.87,75.31 5.82,9.51 11.21,18.28 17.39,28.17z"/>
            <path class="fil0" d="M2372.2 2783.45c9.3,-8.77 31.71,-8.19 36.15,-17.49 -13.21,-19.03 -26.11,-38.43 -38.58,-57.82 -9.88,2.96 -19.18,21.09 -25.9,29.65 0,25 9.89,30.97 28.33,45.66z"/>
            <path class="fil0" d="M2213.75 2415.4c10.05,3.76 14.38,9.52 20.67,17.92 5.97,-4.12 11.94,-7.45 18.29,-11.36 2.43,-26.11 3.75,-42.92 13.26,-66.96l-9.51 0c-13.06,21.45 -35.62,49.41 -42.71,60.4z"/>
            <path class="fil0" d="M2244.46 2816.06c5.55,-8.77 9.88,-11.95 12.1,-22.57l2.81 0c0,-0.58 0,-0.58 -9.36,-0.95 -4.07,9.51 -5.55,13.05 -5.55,23.52z"/>
            <path class="fil0" d="M2491.01 2829.06l0 -27.96 -13.21 0c0,8.56 0.74,17.34 1.27,25.69 2.06,0.95 4.86,1.53 7.66,2.27l4.28 0z"/>
            <path class="fil0" d="M2253.45 2667.18c2.96,-0.37 6.87,-0.9 10.46,-0.9 3.54,-34.51 18.08,-146.92 64.69,-146.92 20.3,33.56 -1.53,59.09 -14.38,95.45 -4.49,34.67 -4.49,64.16 -21.82,93.75 16.59,3.17 21.82,8.25 36.2,17.76l2.59 0c-24.42,-49.26 -5.6,-21.3 -5.6,-71.03 -3.7,-1.69 -7.61,-4.49 -11.37,-6.55 2.59,-21.99 12.32,-42.71 18.82,-63.95 8.24,-11.58 15.86,-4.86 17.55,-21.09 -3.54,-2.8 -5.76,-4.28 -7.83,-6.13 -0.74,-7.29 -0.74,-14.16 -0.74,-21.83 5.03,-2.59 10.26,-5.6 16.23,-8.4 -2.8,-19.34 -5.97,-38.74 -8.61,-57.98 13.79,-13.58 9.51,-25.31 9.51,-44.92l-17.13 1.48c-15.48,18.5 -31.34,36.94 -47.35,55.39 18.45,18.44 -11.94,59.66 -21.67,75.15 -10.25,50.68 -12.26,93.02 -42.49,135.14 9.88,-2.59 16.96,-15.65 22.94,-24.42z"/>
            <path class="fil0" d="M2448.52 2345.32c3.75,-0.37 6.92,-0.79 10.83,-1.32 -0.58,-1.85 -1.11,-2.8 -2.27,-4.49 -2.59,1.69 -5.55,3.91 -8.56,5.81z"/>
            <path class="fil0" d="M2431.45 2250.41c-12.1,1.11 -15.12,-3.39 -24.79,-10.26 0,6.87 0,6.87 7.98,50.9 7.67,-2.06 15.86,-4.28 23.52,-5.23 7.45,-27.96 21.99,-38.37 42.86,-58.72 -14.69,-2.8 -28.85,-5.39 -42.86,-8.19 -2.43,10.25 -4.86,20.87 -6.71,31.5z"/>
            <path class="fil0" d="M2138.86 3495.87c11.58,-0.21 23.47,-0.21 35.78,-0.21 12.48,-22.57 25.16,-46.25 38.43,-68.23 10.78,-6.71 14.9,-74.79 17.33,-84.83 -0.95,-19.39 -6.55,-37.47 -6.55,-57.23 -7.24,-0.74 -14.53,-1.91 -21.78,-2.28 -15.48,-19.55 -15.48,-19.55 -94.7,-132.7 -6.35,8.72 -13.06,17.49 -19.4,25.31 -7.45,-0.9 -9.36,-2.43 -15.12,-7.24 -9.51,22.94 -18.65,45.88 -27.8,68.76 -8.35,-0.74 -9.3,-2.01 -14.9,-8.56 -8.03,5.02 -15.86,10.46 -23.84,16.59 0.37,42.12 0.9,84.46 1.48,127.16 10.42,36.94 21.62,73.3 32.24,110.77 27.22,60.57 47.94,89.85 86.31,142.59 0.21,-4.65 0.21,-4.65 -10.25,-86.51 5.23,-4.81 10.46,-4.81 17.75,-5.18 0.74,-10.25 -2.06,-30.76 5.02,-38.21z"/>
            <path class="fil0" d="M2031.31 2784.93c-1.9,4.28 -4.7,61.36 -5.81,71.77 -2.06,0.74 -3.33,2.27 -4.81,2.8 -2.64,16.6 38,119.34 9.88,123.83 7.08,40.64 20.3,146.34 51.64,166.85 2.96,-2.07 2.96,-2.07 104.38,-182.18 0,-19.92 -10.62,-92.27 -32.24,-92.27 -5.6,6.55 -11.2,17.33 -19.03,21.82 -7.24,-3.91 -12.68,-6.92 -19.39,-12.47 -5.6,-159.24 -5.6,-159.24 -7.45,-174.93 -34.09,14.58 -52.59,46.98 -77.17,74.78z"/>
            <path class="fil0" d="M2143.73 2661.16c8.77,-10.26 32.08,-28.02 17.12,-42.55 -13.05,11.95 -15.43,11.95 -33.93,11.95 -13.05,24.41 -26.85,49.04 -38.95,74.2 7.29,-3.33 14.74,-6.13 21.83,-8.41 7.24,-33.19 0,-35.19 33.93,-35.19z"/>
            <path class="fil0" d="M1939.99 2819.49c-28.91,33.72 -29.28,31.5 -38.06,-10.62 -10.25,45.66 -16.96,51.42 -51.26,84.09 5.23,21.4 10.83,43.07 16.59,63.94 0.74,0 1.69,-0.74 2.8,-0.74 9.15,-18.12 18.45,-36.36 27.75,-54.06l6.55 0c20.67,27.59 -1.69,74.2 8.57,108.13 9.35,13.79 19.23,27.96 29.65,41.91 7.45,-1.11 7.45,-1.11 30.97,-7.98 16.96,-32.66 33.72,-64.69 50.15,-96.77 -6.55,-72.72 -26.32,-84.82 -83.71,-127.9z"/>
            <path class="fil0" d="M2382.19 3116.99c42.49,-28.7 43.82,17.17 77.16,-40.06 9.52,-3.91 9.52,-3.91 10.63,-5.76 -18.45,-16.44 -36.68,-32.45 -54.6,-48.89 -54.28,-1.48 -19.39,29.65 -37.84,56.71l-26.11 0c0,5.6 0.74,12.31 0.9,19.02 12.31,3.7 27.8,4.81 29.86,18.98z"/>
            <path class="fil0" d="M2071.48 3702.56c-11.21,45.72 69.34,158.5 107.18,194.12 10.62,-12.47 3.91,-20.35 21.25,-28.33 -14.32,-53.32 -139.42,-147.66 -73.41,-195.38 -7.51,-38.27 -23.31,-57.08 -46.99,-89.16 -9.51,27.8 -17.54,45.72 -16.22,74.41 34.67,7.24 34.67,7.24 36.73,10.04 0,10.63 1.64,34.89 -4.86,42.71 -9.36,0 -15.65,-4.65 -23.68,-8.41z"/>
            <path class="fil0" d="M2366.65 3058.01c-1.9,1.9 -3.17,4.49 -5.6,6.55 0,0.74 0.74,0.9 1.11,1.85l5.76 0c-0.37,-2.96 -0.53,-5.76 -1.27,-8.4z"/>
            <path class="fil0" d="M2558.98 3524.25c5.07,5.02 11.2,9.88 16.59,15.11 2.65,-0.79 26.69,-31.92 26.85,-35.09 -5.23,2.64 -43.44,15.33 -43.44,19.98z"/>
            <path class="fil0" d="M2494.87 3664.35c2.06,-19.39 -2.06,-41.91 -5.39,-61.14 -19.77,-9.68 -40.27,-19.4 -59.88,-28.7 -19.19,0 -44.55,28.33 -60.57,18.07 -10.46,-43.23 -25.74,-55.38 -68.23,-62.47 -1.16,30.39 -1.9,60.99 -2.64,91.17 56.5,24.84 103.32,44.18 163.36,54.28 12.63,-1.85 21.99,-6.93 33.35,-11.21z"/>
            <path class="fil0" d="M2503.01 2204.69c19.4,-10.09 17.33,-10.46 40.64,-11.2 2.22,-7.83 3.75,-15.49 6.13,-22.73 -18.07,4.07 -29.44,13.95 -47.14,21.25 0,4.07 0,7.82 0.37,12.68z"/>
            <path class="fil0" d="M2282.67 2474.91c18.45,-21.45 37.1,-41.75 54.97,-62.63 11.2,-0.73 22.94,-1.69 34.51,-2.06 29.65,-15.64 18.44,-52.74 69.71,-63.2 0,-4.87 -13.42,-1.11 -15.64,-1.11 -4.28,-6.72 -9.52,-13.06 -13.96,-19.03 -38.79,-11.36 -33.77,-2.59 -38.79,-34.14 -5.44,3.75 -10.62,8.98 -16.59,2.8 0,-6.87 -0.96,-13.79 -0.96,-20.51 -13.05,6.72 -26.47,42.18 -38,56.34 -11.57,5.02 -23.14,9.67 -34.72,14.91 -20.14,46.98 -9.67,73.62 -13.05,119.33 3.91,2.8 8.4,6.13 12.52,9.3z"/>
            <path class="fil0" d="M1894.16 3122.11c3.17,5.08 3.17,5.08 6.35,17.92 25.31,-19.93 27.58,-49.79 30.76,-80.54 -35.63,-49.95 -33.94,-58.72 -36.74,-124.94 -30.76,60.99 -11.57,117.7 -5.97,186.66 1.64,0 3.7,0.53 5.6,0.9z"/>
            <path class="fil0" d="M2342.92 3844.78c32.67,-25.95 81.66,-48.09 86.73,-91.37 -35.46,-13.96 -83.56,-38.21 -106.86,-47.52 56.12,69.71 72.93,65.22 -16.39,78.64 -19.76,-2.06 -38.95,-17.86 -57.6,-17.86 6.5,27.59 13.95,57.03 21.4,86.3 23.68,-2.8 47.94,-5.39 72.72,-8.19z"/>
            <path class="fil0" d="M1986.65 3286.63l5.76 0c0.59,-22.19 0,-94.91 48.89,-68.81 6.87,-20.13 14.17,-39.9 20.67,-60.03 -5.18,-21.62 -54.6,-182.12 -27.01,-187.73 -0.74,-4.12 -1.69,-7.29 -2.8,-10.09 -16.81,32.29 -34.51,63.95 -51.48,96.77 -10.04,2.43 -19.77,4.65 -29.28,7.45 -5.97,30.6 -16.75,60.99 -21.4,92.12l0 82.23c16.75,16.38 34.09,42.86 56.65,48.09z"/>
            <path class="fil0" d="M2302.17 3772.17c16.39,-2.96 33.72,-5.39 51.27,-8.56 -16.96,-20.35 -33.77,-39.91 -50.37,-60.04 -7.24,-10.47 -47.72,-70.29 -35.57,-74.57 3.7,-40.27 -20.13,-73.31 -37.1,-109.09 -2.64,-78.11 -2.64,-78.11 -4.49,-82.6 -0.95,0 -2.22,0.37 -3.91,0.74 -29.49,51.85 -19.4,70.29 -74.2,70.29 -0.74,24.42 7.08,33.93 -16.44,39.37 -0.53,9.09 -0.53,9.09 10.25,82.4 59.88,67.86 83.35,109.61 160.56,142.06z"/>
            <path class="fil0" d="M6671.86 3617.69c-45.88,-130.17 -150.1,-209.02 -253.95,-289.57 -119.5,-91.75 -266.42,-154.95 -399.34,-224.87 -62.11,-32.03 -202.48,-138.31 -244.44,-175.26 -132.55,-116.9 -211.99,-240.89 -369.91,-331.31 0,0 34.51,-24.95 68.82,-39.69 117.06,-50.16 248.87,-50.9 362.82,-103.48 -144.87,-217.37 -400.3,-188.1 -565.14,-344 98.09,18.86 226.36,7.29 325.72,-1.85 181.81,-17.71 210.88,-81.66 296.29,-209.92 24.78,-37.31 59.08,-74.57 88.52,-94.71 135.94,-90.27 486.07,-46.24 638.81,-46.24 -135.56,-72.94 -346.81,-208.81 -502.87,-222.82 -603.51,-73.83 -834.37,135.93 -1233.92,-64.48 -43.82,-17.01 193.91,-159.97 338.03,-165.2 -29.27,-19.4 -208.23,-81.29 -274.45,-80.76 -157.18,3.91 -234.56,58.56 -354.79,145.07 0,-114.47 7.45,-198.02 120.23,-270.9 68.82,-44.19 205.65,-76.06 257.87,-113.37 51.47,-37.26 104.43,-139.05 123.24,-196.71 18.82,-57.23 15.49,-203.73 15.49,-203.73 -77.96,97.14 -138.15,171.71 -266.79,196.49 0,0 -513.87,97.14 -637.28,141.11 -123.25,43.29 -257.7,176.21 -257.7,176.21 0,0 -18.61,-22.73 -20.14,-80.34 -1.27,-57.44 270.76,-554.13 234.92,-530.82 -35.78,22.57 -202.26,71.61 -301.09,106.28 -98.83,34.09 -269.22,70.08 -470.96,160.35 -202.31,90.95 -318.48,288.77 -336.92,261.02 -18.82,-27.06 -64.69,-82.6 -73.26,-170.07 -8.24,-88.15 74.95,-233.01 107.93,-311.92 70.87,-169.28 100.31,-373.44 -25.74,-526.49 -46.41,35.62 -491.25,503.4 -581.89,659.99 -91.17,157.39 -220.55,504.88 -220.55,504.88l-152.16 463.7c0,0 -45.66,-39.69 -73.09,-81.28 -27.01,-41.97 -13.22,-205.48 -13.22,-205.48 37.26,-245.7 42.34,-544.78 -182.7,-716.28 -66.01,-50.15 -153.64,-44.18 -153.64,-44.18 0,0 59.46,82.55 54.22,187.72 -4.81,104.43 -34.09,213.83 -34.09,213.83l-114.68 463.87c-97.3,375.5 -58.72,592.34 -71.62,591.07 -174.51,-18.13 -308.33,-173.4 -344.16,-334.12 -17.13,-79.43 -17.13,-349.39 -17.13,-349.39 -195.02,288.62 -302.78,474.65 -243.32,824.25 41.22,241.63 176.57,495.2 299.4,706.97 62.84,109.46 108.56,305.21 108.56,305.21 -73.84,-74.36 -142.86,-137.94 -257.34,-137.94 -168.17,0 -404.57,147.09 -550.76,59.46 -12.1,-7.24 -54.07,-24.63 -54.07,-24.63 0,0 22.2,49.05 34.3,69.18 156.66,251.89 354.85,207.33 592.57,321.65 128.8,60.04 200.78,105.33 291,222.39 -65.06,-32.98 -238.62,-8.72 -303.68,14.38 -107.98,38.58 -198.41,121.55 -315.84,160.5 -186.67,62.84 -451.4,37.31 -631.68,-46.77 -41.8,-19.77 -127.95,-71.77 -127.95,-71.77 0,0 14.74,44.92 34.51,81.65 19.4,36.89 158.13,230.06 202.1,274.24 159.4,159.24 327.63,225.04 542.42,251.14 366.15,16.81 683.84,-55.17 1034.19,10.84 118.38,22.72 256.91,101.58 256.91,101.58 -375.09,110.93 -233.61,321.43 -696.53,407.57 316.37,142.65 561.91,92.49 864.33,0 209.61,-64.1 439.09,-66.9 439.09,-66.9 -137.2,63.57 -313.94,182.33 -394.7,309.12 -195.97,308.9 -420.43,477.65 -784.94,521.47 136.83,214.2 563.66,120.44 750.27,66.75 220.02,-63.21 427.36,-170.6 589.56,-333.38 32.45,-31.71 128.43,-131.23 162.73,-168.17 34.88,-36.89 89.32,-86.67 142.85,-123.78 54.23,-36.94 153.06,-79.06 205.28,-91.37 51.26,-12.69 175.04,5.02 175.04,5.02l-9.67 7.29c-10.25,8.03 -42.12,64.69 -66.96,101.42 -80.34,121.77 -114.11,286.76 -123.41,429.93 -5.02,76.85 -27.22,205.12 -27.22,205.12 195.23,-183.66 322.76,-526.55 567.73,-649.79 39.16,-19.93 86.31,-16.97 86.31,-16.97 -12.27,242.21 -167.6,448.43 -167.6,691.54 0,495.21 470.96,585.42 468.37,568.67 -18.29,-133.71 -12.68,-378.3 20.3,-509.21 57.97,-232.65 181.96,-463.87 253.95,-699.37 34.67,-115.37 30.23,-267.15 14.74,-385.54 66.17,-8.77 236.04,305.95 227.1,346.07 0,-85.25 52.75,-236.98 61.52,-338.61 8.93,-106.29 -13.79,-241.63 -44.92,-343.63 127.69,46.24 218.33,111.35 301.46,217.42 36.94,47.35 93.97,128.27 125.68,180.64 72.88,116.75 133.5,285.81 251.52,360.39 57.61,35.62 159.77,21.08 224.83,12.52 -58.14,-53.17 -109.46,-88.73 -143.17,-162.57 -64.54,-142.27 -78.7,-380.57 -78.7,-541.65 0,-260.45 -57.4,-522.22 -189.79,-746.51 67.49,8.4 129.01,25.16 184.4,67.12 29.28,21.46 101.42,78.85 140.95,56.34 -73.3,-66.38 -49.41,-196.71 -86.51,-286.4 -12.32,-29.43 -54.44,-123.4 -54.44,-123.4 53.49,8.72 109.45,51.42 158.29,73.83 111.51,51.26 263.99,65.59 384.65,71.56 198.93,10.62 401.62,8.98 582.47,98.99 19.56,9.72 106.08,81.7 106.08,81.7 0,-53.16 0.89,-107.39 -17.55,-157.91zm-3293.95 1016.67c-870.73,0 -1576.39,-706.66 -1576.39,-1578.84 0,-871.97 705.66,-1578.57 1576.39,-1578.57 870.51,0 1576.02,706.6 1576.02,1578.57 0,872.18 -705.51,1578.84 -1576.02,1578.84z"/>
        </g>
    </g>
</svg>