<div class="row" style="margin-left: 0; margin-right: 0">
    <table id="tsTable" style="{% if options == 'gvs' or getPU.resource == "ТС+ГВС (Общий учёт с контролем ГВС)" or getPU.resource == "Тепло+ГВС" %} display: none; {% else %} display: inline-table; {% endif %} font-family: Roboto; font-style: normal; font-weight: normal; font-size: 12px; line-height: 18px;" frame="void" rules="rows" bordercolor="#888888">
        <col width="500" style="{% if checkparams.ts_date == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_t1 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_t2 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_dt == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_t3 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_P1 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_P2 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_P3 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_V1 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_V2 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_dV == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_V3 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_M1 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_M2 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_dM == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_M3 == False %} display: none; {% endif %}">
        <col width="250" style="{% if checkparams.ts_Q1 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Q2 == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Q == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_QntHIP == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_QntP == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_ns == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_TGmax == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_TGmin == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Tdt == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_TFault == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Toff == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_TOtherNS == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_V1_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_V2_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_V3_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_M1_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_M2_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_M3_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Q1_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Q2_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Q_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_QntHIP_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_QntP_Total == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_ta == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_tcw == False %} display: none; {% endif %}">
        <col width="200" style="{% if checkparams.ts_Pcw == False %} display: none; {% endif %}">
        <thead>
            <tr style="color: #ff6408; height: 25px">
                <th nowrap style="padding: 0px 10px; text-align: center; position: sticky; top: 0; background: #FFFFFF; {% if checkparams.ts_date == False %} display: none; {% endif %}"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'date' %}-date{% else %}date{% endif %}">Дата{% if order == 'date' %} &#9660;{% elif order == '-date' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_t1 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 't1' %}-t1{% else %}t1{% endif %}">t1, °C{% if order == 't1' %} &#9660;{% elif order == '-t1' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_t2 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 't2' %}-t2{% else %}t2{% endif %}">t2, °C{% if order == 't2' %} &#9660;{% elif order == '-t2' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_dt == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'dt' %}-dt{% else %}dt{% endif %}">Δt, °C{% if order == 'dt' %} &#9660;{% elif order == '-dt' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_t3 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 't3' %}-t3{% else %}t3{% endif %}">t3, °C{% if order == 't3' %} &#9660;{% elif order == '-t3' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_P1 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'P1' %}-P1{% else %}P1{% endif %}">P1, МПа{% if order == 'P1' %} &#9660;{% elif order == '-P1' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_P2 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'P2' %}-P2{% else %}P2{% endif %}">P2, МПа{% if order == 'P2' %} &#9660;{% elif order == '-P2' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_P3 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'P3' %}-P3{% else %}P3{% endif %}">P3, МПа{% if order == 'P3' %} &#9660;{% elif order == '-P3' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_V1 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'V1' %}-V1{% else %}V1{% endif %}">V1, м<sup>3</sup>{% if order == 'V1' %} &#9660;{% elif order == '-V1' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_V2 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'V2' %}-V2{% else %}V2{% endif %}">V2, м<sup>3</sup>{% if order == 'V2' %} &#9660;{% elif order == '-V2' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_dV == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'dV' %}-dV{% else %}dV{% endif %}">ΔV, м<sup>3</sup> {% if order == 'dV' %} &#9660;{% elif order == '-dV' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_V3 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'V3' %}-V3{% else %}V3{% endif %}">V3, м<sup>3</sup>{% if order == 'V3' %} &#9660;{% elif order == '-V3' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_M1 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'M1' %}-M1{% else %}M1{% endif %}">M1, т{% if order == 'M1' %} &#9660;{% elif order == '-M1' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_M2 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'M2' %}-M2{% else %}M2{% endif %}">M2, т{% if order == 'M2' %} &#9660;{% elif order == '-M2' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_dM == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'dM' %}-dM{% else %}dM{% endif %}">ΔM, т{% if order == 'dM' %} &#9660;{% elif order == '-dM' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_M3 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'M3' %}-M3{% else %}M3{% endif %}">M3, т{% if order == 'M3' %} &#9660;{% elif order == '-M3' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Q1 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Q1' %}-Q1{% else %}Q1{% endif %}">Q1, Гкал{% if order == 'Q1' %} &#9660;{% elif order == '-Q1' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Q2 == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Q2' %}-Q2{% else %}Q2{% endif %}">Q2, Гкал{% if order == 'Q2' %} &#9660;{% elif order == '-Q2' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Q == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Q' %}-Q{% else %}Q{% endif %}">Q, Гкал{% if order == 'Q' %} &#9660;{% elif order == '-Q' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_QntHIP == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'QntHIP' %}-QntHIP{% else %}QntHIP{% endif %}">Тр, ч{% if order == 'QntHIP' %} &#9660;{% elif order == '-QntHIP' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_QntP == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'QntP' %}-QntP{% else %}QntP{% endif %}">Тн, ч{% if order == 'QntP' %} &#9660;{% elif order == '-QntP' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; position: sticky; top: 0; background: #FFFFFF; {% if checkparams.ts_ns == False %} display: none; {% endif %}"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'ns' %}-ns{% else %}ns{% endif %}">НС{% if order == 'ns' %} &#9660;{% elif order == '-ns' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_TGmax == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'TGmax' %}-TGmax{% else %}TGmax{% endif %}">TGmax, ч{% if order == 'TGmax' %} &#9660;{% elif order == '-TGmax' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_TGmin == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'TGmin' %}-TGmin{% else %}TGmin{% endif %}">TGmin, ч{% if order == 'TGmin' %} &#9660;{% elif order == '-TGmin' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Tdt == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Tdt' %}-Tdt{% else %}Tdt{% endif %}">TΔt, ч{% if order == 'Tdt' %} &#9660;{% elif order == '-Tdt' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_TFault == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'TFault' %}-TFault{% else %}TFault{% endif %}">TFault, ч{% if order == 'TFault' %} &#9660;{% elif order == '-TFault' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Toff == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Toff' %}-Toff{% else %}Toff{% endif %}">Toff, ч{% if order == 'Toff' %} &#9660;{% elif order == '-Toff' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_TOtherNS == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'TOtherNS' %}-TOtherNS{% else %}TOtherNS{% endif %}">T прочие НС, ч{% if order == 'TOtherNS' %} &#9660;{% elif order == '-TOtherNS' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_V1_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'V1_Total' %}-V1_Total{% else %}V1_Total{% endif %}">V1 Итог, м<sup>3</sup>{% if order == 'V1_Total' %} &#9660;{% elif order == '-V1_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_V2_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'V2_Total' %}-V2_Total{% else %}V2_Total{% endif %}">V2 Итог, м<sup>3</sup>{% if order == 'V2_Total' %} &#9660;{% elif order == '-V2_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_V3_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'V3_Total' %}-V3_Total{% else %}V3_Total{% endif %}">V3 Итог, м<sup>3</sup>{% if order == 'V3_Total' %} &#9660;{% elif order == '-V3_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_M1_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'M1_Total' %}-M1_Total{% else %}M1_Total{% endif %}">M1 Итог, т{% if order == 'M1_Total' %} &#9660;{% elif order == '-M1_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_M2_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'M2_Total' %}-M2_Total{% else %}M2_Total{% endif %}">M2 Итог, т{% if order == 'M2_Total' %} &#9660;{% elif order == '-M2_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_M3_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'M3_Total' %}-M3_Total{% else %}M3_Total{% endif %}">M3 Итог, т{% if order == 'M3_Total' %} &#9660;{% elif order == '-M3_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Q1_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Q1_Total' %}-Q1_Total{% else %}Q1_Total{% endif %}">Q1 Итог, Гкал{% if order == 'Q1_Total' %} &#9660;{% elif order == '-Q1_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Q2_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Q2_Total' %}-Q2_Total{% else %}Q2_Total{% endif %}">Q2 Итог, Гкал{% if order == 'Q2_Total' %} &#9660;{% elif order == '-Q2_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Q_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Q_Total' %}-Q_Total{% else %}Q_Total{% endif %}">Q Итог, Гкал{% if order == 'Q_Total' %} &#9660;{% elif order == '-Q_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_QntHIP_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'QntHIP_Total' %}-QntHIP_Total{% else %}QntHIP_Total{% endif %}">Тр Итог, ч{% if order == 'QntHIP_Total' %} &#9660;{% elif order == '-QntHIP_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>

                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_QntP_Total == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'QntP_Total' %}-QntP_Total{% else %}QntP_Total{% endif %}">Тн Итог, ч{% if order == 'QntP_Total' %} &#9660;{% elif order == '-QntP_Total' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_ta == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'ta' %}-ta{% else %}ta{% endif %}">ta, °C{% if order == 'ta' %} &#9660;{% elif order == '-ta' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_tcw == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'tcw' %}-tcw{% else %}tcw{% endif %}">tхв, °C{% if order == 'tcw' %} &#9660;{% elif order == '-tcw' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
                <th nowrap style="padding: 0px 10px; text-align: center; {% if checkparams.ts_Pcw == False %} display: none; {% endif %} position: sticky; top: 0; background: #FFFFFF"><a style="color: #ff6408;" href="?page={{ ts.number }}&q={{ q }}&month={{ month }}&check={{ check }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={% if order == 'Pcw' %}-Pcw{% else %}Pcw{% endif %}">Pхв, МПа{% if order == 'Pcw' %} &#9660;{% elif order == '-Pcw' %} &#9650;{% endif %}</a> <a style="text-decoration: none" href="{% url 'update_check' idUser %}">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-fill options" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                        </svg>
                    </a></th>
            </tr>
        </thead>
        <tbody>
            {% for elem in ts %}
                <tr style="height: 25px">
                    <td nowrap style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_date == False %} display: none; {% endif %}">{{ elem.date|date:"d.m.Y H:i" }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_t1 == False %} display: none; {% endif %}">{{ elem.t1|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_t2 == False %} display: none; {% endif %}">{{ elem.t2|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_dt == False %} display: none; {% endif %}">{{ elem.dt|floatformat:3 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_t3 == False %} display: none; {% endif %}">{{ elem.t3|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_P1 == False %} display: none; {% endif %}">{{ elem.P1|floatformat:5 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_P2 == False %} display: none; {% endif %}">{{ elem.P2|floatformat:5 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_P3 == False %} display: none; {% endif %}">{{ elem.P3|floatformat:5 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_V1 == False %} display: none; {% endif %}">{{ elem.V1|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_V2 == False %} display: none; {% endif %}">{{ elem.V2|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_dV == False %} display: none; {% endif %}">{{ elem.dV|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_V3 == False %} display: none; {% endif %}">{{ elem.V3|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_M1 == False %} display: none; {% endif %}">{{ elem.M1|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_M2 == False %} display: none; {% endif %}">{{ elem.M2|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_dM == False %} display: none; {% endif %}">{{ elem.dM|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_M3 == False %} display: none; {% endif %}">{{ elem.M3|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Q1 == False %} display: none; {% endif %}">{{ elem.Q1|floatformat }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Q2 == False %} display: none; {% endif %}">{{ elem.Q2|floatformat }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Q == False %} display: none; {% endif %}">{{ elem.Q|floatformat:3 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_QntHIP == False %} display: none; {% endif %}">{{ elem.QntHIP|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_QntP == False %} display: none; {% endif %}">{{ elem.QntP|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_ns == False %} display: none; {% endif %}">{{ elem.ns }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_TGmax == False %} display: none; {% endif %}">{{ elem.TGmax|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_TGmin == False %} display: none; {% endif %}">{{ elem.TGmin|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Tdt == False %} display: none; {% endif %}">{{ elem.Tdt|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_TFault == False %} display: none; {% endif %}">{{ elem.TFault|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Toff == False %} display: none; {% endif %}">{{ elem.Toff|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_TOtherNS == False %} display: none; {% endif %}">{{ elem.TOtherNS|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_V1_Total == False %} display: none; {% endif %}">{{ elem.V1_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_V2_Total == False %} display: none; {% endif %}">{{ elem.V2_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_V3_Total == False %} display: none; {% endif %}">{{ elem.V3_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_M1_Total == False %} display: none; {% endif %}">{{ elem.M1_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_M2_Total == False %} display: none; {% endif %}">{{ elem.M2_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_M3_Total == False %} display: none; {% endif %}">{{ elem.M3_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Q1_Total == False %} display: none; {% endif %}">{{ elem.Q1_Total|floatformat }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Q2_Total == False %} display: none; {% endif %}">{{ elem.Q2_Total|floatformat }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Q_Total == False %} display: none; {% endif %}">{{ elem.Q_Total|floatformat:3 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_QntHIP_Total == False %} display: none; {% endif %}">{{ elem.QntHIP_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_QntP_Total == False %} display: none; {% endif %}">{{ elem.QntP_Total|floatformat:2 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_ta == False %} display: none; {% endif %}">{{ elem.ta|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_tcw == False %} display: none; {% endif %}">{{ elem.tcw|floatformat:1 }}</td>
                    <td style="padding-left: 20px; padding-right: 20px; text-align: center; {% if checkparams.ts_Pcw == False %} display: none; {% endif %}">{{ elem.Pcw|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr style="height: 25px; font-weight: bold; background: #bababa;">
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_date == False %} display: none; {% endif %}">Итого</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_t1 == False %} display: none; {% endif %}">{{ ts_t1.t1__avg|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_t2 == False %} display: none; {% endif %}">{{ ts_t2.t2__avg|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_dt == False %} display: none; {% endif %}">{{ ts_dt.dt__avg|floatformat:3 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_t3 == False %} display: none; {% endif %}">{{ ts_t3.t3__avg|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_P1 == False %} display: none; {% endif %}">{{ ts_P1.P1__avg|floatformat:5 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_P2 == False %} display: none; {% endif %}">{{ ts_P2.P2__avg|floatformat:5 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_P3 == False %} display: none; {% endif %}">{{ ts_P3.P3__avg|floatformat:5 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_V1 == False %} display: none; {% endif %}">{{ ts_V1.V1__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_V2 == False %} display: none; {% endif %}">{{ ts_V2.V2__sum|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_dV == False %} display: none; {% endif %}">{{ ts_dV.dV__avg|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_V3 == False %} display: none; {% endif %}">{{ ts_V3.V3__sum|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_M1 == False %} display: none; {% endif %}">{{ ts_M1.M1__sum|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_M2 == False %} display: none; {% endif %}">{{ ts_M2.M2__sum|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_dM == False %} display: none; {% endif %}">{{ ts_dM.dM__avg|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_M3 == False %} display: none; {% endif %}">{{ ts_M3.M3__sum|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Q1 == False %} display: none; {% endif %}">{{ ts_Q1.Q1__sum|floatformat }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Q2 == False %} display: none; {% endif %}">{{ ts_Q2.Q2__sum|floatformat }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Q == False %} display: none; {% endif %}">{{ ts_Q.Q__sum|floatformat:3 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_QntHIP == False %} display: none; {% endif %}">{{ ts_QntHIP.QntHIP__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_QntP == False %} display: none; {% endif %}">{{ ts_QntP.QntP__sum|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_ns == False %} display: none; {% endif %}"></td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_TGmax == False %} display: none; {% endif %}">{{ ts_TGmax.TGmax__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_TGmin == False %} display: none; {% endif %}">{{ ts_TGmin.TGmin__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Tdt == False %} display: none; {% endif %}">{{ ts_Tdt.Tdt__avg|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_TFault == False %} display: none; {% endif %}">{{ ts_TFault.TFault__avg|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Toff == False %} display: none; {% endif %}">{{ ts_Toff.Toff__avg|floatformat:1 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_TOtherNS == False %} display: none; {% endif %}">{{ ts_TOtherNS.TOtherNS__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_V1_Total == False %} display: none; {% endif %}">{{ ts_V1_Total.V1_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_V2_Total == False %} display: none; {% endif %}">{{ ts_V2_Total.V2_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_V3_Total == False %} display: none; {% endif %}">{{ ts_V3_Total.V3_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_M1_Total == False %} display: none; {% endif %}">{{ ts_M1_Total.M1_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_M2_Total == False %} display: none; {% endif %}">{{ ts_M2_Total.M2_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_M3_Total == False %} display: none; {% endif %}">{{ ts_M3_Total.M3_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Q1_Total == False %} display: none; {% endif %}">{{ ts_Q1_Total.Q1_Total__sum|floatformat }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Q2_Total == False %} display: none; {% endif %}">{{ ts_Q2_Total.Q2_Total__sum|floatformat }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Q_Total == False %} display: none; {% endif %}">{{ ts_Q_Total.Q_Total__sum|floatformat:3 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_QntHIP_Total == False %} display: none; {% endif %}">{{ ts_QntHIP_Total.QntHIP_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_QntP_Total == False %} display: none; {% endif %}">{{ ts_QntP_Total.QntP_Total__sum|floatformat:2 }}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_ta == False %} display: none; {% endif %}">{{ ts_ta.ta__avg|floatformat:1}}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_tcw == False %} display: none; {% endif %}">{{ ts_tcw.tcw__avg|floatformat:1}}</td>
                <td style="text-align: center; position: sticky; bottom: 0; background: #d4d4d4; {% if checkparams.ts_Pcw == False %} display: none; {% endif %}">{{ ts_Pcw.Pcw__avg|floatformat:2 }}</td>
            </tr>
        </tfoot>
    </table>
</div>
<div id="tsMargin" class="row" style="height: 60px; {% if options == 'gvs' or getPU.resource == "ТС+ГВС (Общий учёт с контролем ГВС)" or getPU.resource == "Тепло+ГВС" %} display: none; {% else %} display: block; {% endif %}"></div>
<div class="row" style="margin-left: 0; margin-right: 0">
    <div class="col-12" style="text-align: center">
        <div class="pagination" style="{% if options == 'gvs' or getPU.resource == "ТС+ГВС (Общий учёт с контролем ГВС)" or getPU.resource == "Тепло+ГВС" %} display: none; {% else %} display: block; {% endif %}" id="ts-pagination">
            <span class="step-links">
                {% if ts.has_previous %}
                    <a href="?page={{ ts.previous_page_number }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">Предыдущая</a>
                {% endif %}
                <span class="current">
                    {% if ts.number|add:'-4' > 0 %}
                        <span>...</span>
                    {% endif %}
                    {% if ts.number|add:'-3' > 0 %}
                        <a href="?page={{ ts.number|add:'-3' }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">{{ ts.number|add:'-3' }}</a>
                    {% endif %}
                    {% if ts.number|add:'-2' > 0 %}
                        <a href="?page={{ ts.number|add:'-2' }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">{{ ts.number|add:'-2' }}</a>
                    {% endif %}
                    {% if ts.has_previous %}
                        <a href="?page={{ ts.number|add:'-1' }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">{{ ts.number|add:'-1' }}</a>
                    {% endif %}
                    {% if ts.has_other_pages %}
                        <b>{{ ts.number }}</b>
                    {% endif %}
                    {% if ts.has_next %}
                        <a href="?page={{ ts.number|add:'1' }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">{{ ts.number|add:'1' }}</a>
                    {% endif %}
                    {% if ts.number|add:'2' <= ts.paginator.num_pages %}
                        <a href="?page={{ ts.number|add:'2' }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">{{ ts.number|add:'2' }}</a>
                    {% endif %}
                    {% if ts.number|add:'3' <= ts.paginator.num_pages %}
                        <a href="?page={{ ts.number|add:'3' }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">{{ ts.number|add:'3' }}</a>
                    {% endif %}
                    {% if ts.number|add:'4' <= ts.paginator.num_pages %}
                        <span>...</span>
                    {% endif %}
                </span>
                {% if ts.has_next %}
                    <a href="?page={{ ts.next_page_number }}&q={{ q }}&startDate={{ startDate }}&endDate={{ endDate }}&typeArchive={{ typeArchive }}&options={{ options }}&sort={{ order }}&month={{ month }}&check={{ check }}">Следующая</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>