input.login {
	outline: none;
	position: absolute;
	width: 300px;
	height: 50px;
	left: calc(50% - 300px/2);
	top: calc(50% - 50px/2 - 70px);
	background: #FFFFFF;
	border: 1px solid #FF6408;
	box-sizing: border-box;
	border-radius: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}
input.login::placeholder, input.password::placeholder{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FF6408;
}
input.login:focus{
	position: absolute;
	width: 300px;
	height: 50px;
	left: calc(50% - 300px/2);
	top: calc(50% - 50px/2 - 70px);
	background: #FFFFFF;
	border: 1px solid #FF6408;
	box-sizing: border-box;
	border-radius: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}
input.password {
	outline: none;
	position: absolute;
	width: 300px;
	height: 50px;
	left: calc(50% - 300px/2);
	top: calc(50% - 50px/2);
	background: #FFFFFF;
	border: 1px solid #FF6408;
	box-sizing: border-box;
	border-radius: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FF6408;
}

input.password:focus{
	border: 1px solid #FF6408;
	color: #000000;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; }
input.log[disabled]{
	outline: none;
	position: absolute;
	width: 300px;
	height: 50px;
	left: calc(50% - 300px/2);
	top: calc(50% - 50px/2 + 70px);
	background: rgba(255, 100, 8, 0.5);
	border-radius: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	border: none;
}
input.log{
	outline: none;
	position: absolute;
	width: 300px;
	height: 50px;
	left: calc(50% - 300px/2);
	top: calc(50% - 50px/2 + 70px);
	border-radius: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #FF6408;
	border: none;
}
.form_radio_btn {
	display: inline-block;
	margin-right: 5px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	color: #005E9E;
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: none;
	border-radius: 10px;
	user-select: none;
	background: #bababa;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	color: #FFFFFF;
	background: #FF6408;
}

.table-scroll tr:hover{
	border-bottom: 2px solid #FF6408;
	border-top: 2px solid #FF6408;
}
.checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 5px;
  height: 10px;
  width: 10px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #FF6408;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: none;
}

/* Style the indicator (dot/circle) */
.checkbox .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.options:hover {
	color: #FF6408;
}
.options{
	color: #ffe1ce;
}
.top-header{
	height: 60px;
	background: linear-gradient(90deg, #005E9E 0%, #00A8D8 112.08%);
}
.base-container{
	position: absolute;
	top: 120px;
}
.logoconnect{
	position: absolute;
	right: 1.57%;
}
hr.podline{
	color: #FF6408;
	background-color: #FF6408;
	margin: 10px 0px;
}
p.foot{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #005E9E;
	margin-bottom: 0;
}
.second-header{
	position: fixed;
	top: 60px;
	height: 60px;
	background-color: #00A8D8;
}
input.search{
	border-radius: 10px;
	outline: none;
	width: 187px;
	height: 30px;
	padding-right: 30px;
	border: none;
}
button.standart{
	width: 187px;
	background: #bababa;
	border-radius: 10px;
	border: none;
	color: #FFFFFF;
	outline: none;
}
tr.headlist{
	height: 25px;
	border: #FFFFFF;
	color: #ff6408;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
th.headlist{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center
}
td.headlist{
	padding-left: 10px;
	padding-right: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	text-align: center
}